In [1]:
import json
import pandas as pd
import os
from table import *
from table_ast import *
from synthesizer import *
from tabulate import tabulate
from table_cell import *

# small parameter config for tests
test_config = {
                "operators": ["group_sum", "mutate_arithmetic", "group_mutate"],
                "filer_op": ["=="],
                "constants": [3000],
                "aggr_func": ["mean", "sum", "count", "max"],
                "mutate_func": ["mean", "sum", "max", "cumsum"],
                "mutate_op": ["sum"],
                "mutate_function": ["lambda x, y: x - y",
                                    "lambda x, y: x + y",
                                    "lambda x, y: x * y",
                                    "lambda x, y: x / y",
                                    "lambda x: x - (x * 0.1)",
                                    "lambda x: 1"]
            }

def test_run(filename):
    with open(filename, 'r') as filehandler:
        data = json.load(filehandler)
        # join with arithmetic
        # description:
        inputs = data["input_data"]
        # output = data["output_data"]

        if "exp_out" in data.keys():
            p = dict_to_program(data["exp_out"])
            print("=====target annotated output=====")
            print(p.eval(inputs).to_dataframe())
            annotated_output = p.eval(inputs)
        else:
            # annotated_output = load_from_dict(output)
            print("load error")
        candidates = []
        for i in range(1, 4):
            candidates = Synthesizer(test_config).enumerative_synthesis(inputs, annotated_output, i)
            if len(candidates) > 0:
                break
        for p in candidates:
            # print(alignment_result)
            print(p.stmt_string())
            print(tabulate(p.eval(inputs).extract_values(), headers='keys', tablefmt='psql'))
            print(tabulate(p.eval(inputs).extract_traces(), headers='keys', tablefmt='psql'))
            print()
        print(f"number of programs: {len(candidates)}")

In [2]:
test_run("testbenches/001.json")

=====target annotated output=====
                                                                              depno  \
0                                   <10, [ArgOr[(0, 1, 6), (0, 1, 8), (0, 1, 13)]]>
1            <20, [ArgOr[(0, 1, 0), (0, 1, 3), (0, 1, 7), (0, 1, 10), (0, 1, 12)]]>
2  <30, [ArgOr[(0, 1, 1), (0, 1, 2), (0, 1, 4), (0, 1, 5), (0, 1, 9), (0, 1, 11)]]>

                                                                                   mean_sal
0                                   <2916.67, ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])>
1             <2175.0, ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])>
2  <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), mean, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 depno                    COL_0
0    <20, [(0, 1, 0)]>  <_?_, ('sum', ['_?_'])>
1    <30, [(0, 1, 1)]>  <_?_, ('sum', ['_?_'])>
2    <30, [(0, 1, 2)]>  <_?_, ('sum', ['_?_'])>
3    <20, [(0, 1, 3)]>  <_?_, ('sum', ['_?_'])>
4    <30, [(0, 1, 4)]>  <_?_, ('sum', ['_?_'])>
5    <30, [(0, 1, 5)]>  <_?_, ('sum', ['_?_'])>
6    <10, [(0, 1, 6)]>  <_?_, ('sum', ['_?_'])>
7    <20, [(0, 1, 7)]>  <_?_, ('sum', ['_?_'])>
8    <10, [(0, 1, 8)]>  <_?_, ('sum', ['_?_'])>
9    <30, [(0, 1, 9)]>  <_?_, ('sum', ['_?_'])>
10  <20, [(0, 1, 10)]>  <_?_, ('sum', ['_?_'])>
11  <30, [(0, 1, 11)]>  <_?_, ('sum', ['_?_'])>
12  <20, [(0, 1, 12)]>  <_?_, ('sum', ['_?_'])>
13  <10, [(0, 1, 13)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), count, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 depno                      COL_0
0    <20, [(0, 1, 0)]>  <_?_, ('count', ['_?_'])>
1    <30, [(0, 1, 1)]>  <_?_, ('count', ['_?_'])>
2    <30, [(0, 1, 2)]>  <_?_, ('count', ['_?_'])>
3    <20, [(0, 1, 3)]>  <_?_, ('count', ['_?_'])>
4    <30, [(0, 1, 4)]>  <_?_, ('count', ['_?_'])>
5    <30, [(0, 1, 5)]>  <_?_, ('count', ['_?_'])>
6    <10, [(0, 1, 6)]>  <_?_, ('count', ['_?_'])>
7    <20, [(0, 1, 7)]>  <_?_, ('count', ['_?_'])>
8    <10, [(0, 1, 8)]>  <_?_, ('count', ['_?_'])>
9    <30, [(0, 1, 9)]>  <_?_, ('count', ['_?_'])>
10  <20, [(0, 1, 10)]>  <_?_, ('count', ['_?_'])>
11  <30, [(0, 1, 11)]>  <_?_, ('count', ['_?_'])>
12  <20, [(0, 1, 12)]>  <_?_, ('count', ['_?_'])>
13  <10, [(0, 1, 13)]>  <_?_, ('count', ['_?_'])>
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 depno                    COL_0
0    <20, [(0, 1, 0)]>  <_?_, ('max', ['_?_'])>
1    <30, [(0, 1, 1)]>  <_?_, ('max', ['_?_'])>
2    <30, [(0, 1, 2)]>  <_?_, ('max', ['_?_'])>
3    <20, [(0, 1, 3)]>  <_?_, ('max', ['_?_'])>
4    <30, [(0, 1, 4)]>  <_?_, ('max', ['_?_'])>
5    <30, [(0, 1, 5)]>  <_?_, ('max', ['_?_'])>
6    <10, [(0, 1, 6)]>  <_?_, ('max', ['_?_'])>
7    <20, [(0, 1, 7)]>  <_?_, ('max', ['_?_'])>
8    <10, [(0, 1, 8)]>  <_?_, ('max', ['_?_'])>
9    <30, [(0, 1, 9)]>  <_?_, ('max', ['_?_'])>
10  <20, [(0, 1, 10)]>  <_?_, ('max', ['_?_'])>
11  <30, [(0, 1, 11)]>  <_?_, ('max', ['_?_'])>
12  <20, [(0, 1, 12)]>  <_?_, ('max', ['_?_'])>
13  <10, [(0, 1, 13)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), mean, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 depno                   sal                    COL_0
0    <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>  <_?_, ('sum', ['_?_'])>
1    <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>  <_?_, ('sum', ['_?_'])>
2    <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>  <_?_, ('sum', ['_?_'])>
3    <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>  <_?_, ('sum', ['_?_'])>
4    <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>  <_?_, ('sum', ['_?_'])>
5    <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>  <_?_, ('sum', ['_?_'])>
6    <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>  <_?_, ('sum', ['_?_'])>
7    <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>  <_?_, ('sum', ['_?_'])>
8    <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>  <_?_, ('sum', ['_?_'])>
9    <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>  <_?_, ('sum', ['_?_'])>
10  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>  <_?_, ('sum', ['_?_'])>
11  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>  <_?_, ('sum', ['_?_'])>
12  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>  <_?_, ('sum', ['_?_'])>
13  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), count, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 depno                   sal                      COL_0
0    <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>  <_?_, ('count', ['_?_'])>
1    <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>  <_?_, ('count', ['_?_'])>
2    <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>  <_?_, ('count', ['_?_'])>
3    <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>  <_?_, ('count', ['_?_'])>
4    <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>  <_?_, ('count', ['_?_'])>
5    <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>  <_?_, ('count', ['_?_'])>
6    <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>  <_?_, ('count', ['_?_'])>
7    <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>  <_?_, ('count', ['_?_'])>
8    <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>  <_?_, ('count', ['_?_'])>
9    <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>  <_?_, ('count', ['_?_'])>
10  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>  <_?_, ('count', ['_?_'])>
11  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>  <_?_, ('count', ['_?_'])>
12  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>  <_?_, ('count', ['_?_'])>
13  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>  <_?_, ('count', ['_?_'])>
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 depno                   sal                    COL_0
0    <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>  <_?_, ('max', ['_?_'])>
1    <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>  <_?_, ('max', ['_?_'])>
2    <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>  <_?_, ('max', ['_?_'])>
3    <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>  <_?_, ('max', ['_?_'])>
4    <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>  <_?_, ('max', ['_?_'])>
5    <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>  <_?_, ('max', ['_?_'])>
6    <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>  <_?_, ('max', ['_?_'])>
7    <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>  <_?_, ('max', ['_?_'])>
8    <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>  <_?_, ('max', ['_?_'])>
9    <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>  <_?_, ('max', ['_?_'])>
10  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>  <_?_, ('max', ['_?_'])>
11  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>  <_?_, ('max', ['_?_'])>
12  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>  <_?_, ('max', ['_?_'])>
13  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>  <_?_, ('max', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_sum(t0, (1,), mean, 0)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_sum(t0, (1,), mean, 2)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), mean, 0)
   run checker_function!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, 13)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, 13)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, 13)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, 13)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 13), (0, 1, 8), (0, 1, 6)}
fail whenc check t: (0, 1, 13)possible locs: [(1, 13), (3, 13)]
==========
cell trace check failed!
----
number of programs: 1
time cost: 0.3116626739501953

t0 <- table_ref(0); t1 <- group_sum(t0, (1,), mean, 2)
+----+---------+------------+
|    |   depno |   mean_sal |
|----+---------+------------|
|  0 |      10 |    2916.67 |
|  1 |      20 |    2175    |
|  2 |      30 |    1566.67 |
+----+---------+------------+
+----+----------------------------------------------------------------------------+-------------------------------------------------------------------------------+
|    | depno                                                                      | mean_sal                                                                      |
|----+----------------------------------------------------------------------------+-------------------------------------------------------------------------------|
|  0 | [ArgOr[(0, 1, 6), (0, 1, 8), (0, 1, 13)]]                                  | ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])                                  |
|  1 | [ArgOr[(0, 1, 0), (0, 1, 3), (0, 1, 7), (0, 1, 10), (0, 1, 12)]]           | ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])           |
|  2 | [ArgOr[(0, 1, 1), (0, 1, 2), (0, 1, 4), (0, 1, 5), (0, 1, 9), (0, 1, 11)]] | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
+----+----------------------------------------------------------------------------+-------------------------------------------------------------------------------+

number of programs: 1

In [3]:
test_run("testbenches/002.json")

=====target annotated output=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                                                                                       COL_0
0              <2175.0, ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])>
1   <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
2   <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
3              <2175.0, ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])>
4   <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
5   <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
6                                    <2916.67, ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])>
7              <2175.0, ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])>
8                                    <2916.67, ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])>
9   <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
10             <2175.0, ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])>
11  <1566.67, ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)])>
12             <2175.0, ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])>
13                                   <2916.67, ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                      COL_0
0   <_?_, ('sum', ['_?_'])>
1   <_?_, ('sum', ['_?_'])>
2   <_?_, ('sum', ['_?_'])>
3   <_?_, ('sum', ['_?_'])>
4   <_?_, ('sum', ['_?_'])>
5   <_?_, ('sum', ['_?_'])>
6   <_?_, ('sum', ['_?_'])>
7   <_?_, ('sum', ['_?_'])>
8   <_?_, ('sum', ['_?_'])>
9   <_?_, ('sum', ['_?_'])>
10  <_?_, ('sum', ['_?_'])>
11  <_?_, ('sum', ['_?_'])>
12  <_?_, ('sum', ['_?_'])>
13  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                      COL_0
0   <_?_, ('max', ['_?_'])>
1   <_?_, ('max', ['_?_'])>
2   <_?_, ('max', ['_?_'])>
3   <_?_, ('max', ['_?_'])>
4   <_?_, ('max', ['_?_'])>
5   <_?_, ('max', ['_?_'])>
6   <_?_, ('max', ['_?_'])>
7   <_?_, ('max', ['_?_'])>
8   <_?_, ('max', ['_?_'])>
9   <_?_, ('max', ['_?_'])>
10  <_?_, ('max', ['_?_'])>
11  <_?_, ('max', ['_?_'])>
12  <_?_, ('max', ['_?_'])>
13  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                         COL_0
0   <_?_, ('cumsum', ['_?_'])>
1   <_?_, ('cumsum', ['_?_'])>
2   <_?_, ('cumsum', ['_?_'])>
3   <_?_, ('cumsum', ['_?_'])>
4   <_?_, ('cumsum', ['_?_'])>
5   <_?_, ('cumsum', ['_?_'])>
6   <_?_, ('cumsum', ['_?_'])>
7   <_?_, ('cumsum', ['_?_'])>
8   <_?_, ('cumsum', ['_?_'])>
9   <_?_, ('cumsum', ['_?_'])>
10  <_?_, ('cumsum', ['_?_'])>
11  <_?_, ('cumsum', ['_?_'])>
12  <_?_, ('cumsum', ['_?_'])>
13  <_?_, ('cumsum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                      COL_0
0   <_?_, ('sum', ['_?_'])>
1   <_?_, ('sum', ['_?_'])>
2   <_?_, ('sum', ['_?_'])>
3   <_?_, ('sum', ['_?_'])>
4   <_?_, ('sum', ['_?_'])>
5   <_?_, ('sum', ['_?_'])>
6   <_?_, ('sum', ['_?_'])>
7   <_?_, ('sum', ['_?_'])>
8   <_?_, ('sum', ['_?_'])>
9   <_?_, ('sum', ['_?_'])>
10  <_?_, ('sum', ['_?_'])>
11  <_?_, ('sum', ['_?_'])>
12  <_?_, ('sum', ['_?_'])>
13  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                      COL_0
0   <_?_, ('max', ['_?_'])>
1   <_?_, ('max', ['_?_'])>
2   <_?_, ('max', ['_?_'])>
3   <_?_, ('max', ['_?_'])>
4   <_?_, ('max', ['_?_'])>
5   <_?_, ('max', ['_?_'])>
6   <_?_, ('max', ['_?_'])>
7   <_?_, ('max', ['_?_'])>
8   <_?_, ('max', ['_?_'])>
9   <_?_, ('max', ['_?_'])>
10  <_?_, ('max', ['_?_'])>
11  <_?_, ('max', ['_?_'])>
12  <_?_, ('max', ['_?_'])>
13  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                   empno               depno                   sal  \
0    <7369, [(0, 0, 0)]>   <20, [(0, 1, 0)]>    <800, [(0, 2, 0)]>
1    <7499, [(0, 0, 1)]>   <30, [(0, 1, 1)]>   <1600, [(0, 2, 1)]>
2    <7521, [(0, 0, 2)]>   <30, [(0, 1, 2)]>   <1250, [(0, 2, 2)]>
3    <7566, [(0, 0, 3)]>   <20, [(0, 1, 3)]>   <2975, [(0, 2, 3)]>
4    <7654, [(0, 0, 4)]>   <30, [(0, 1, 4)]>   <1250, [(0, 2, 4)]>
5    <7698, [(0, 0, 5)]>   <30, [(0, 1, 5)]>   <2850, [(0, 2, 5)]>
6    <7782, [(0, 0, 6)]>   <10, [(0, 1, 6)]>   <2450, [(0, 2, 6)]>
7    <7788, [(0, 0, 7)]>   <20, [(0, 1, 7)]>   <3000, [(0, 2, 7)]>
8    <7839, [(0, 0, 8)]>   <10, [(0, 1, 8)]>   <5000, [(0, 2, 8)]>
9    <7844, [(0, 0, 9)]>   <30, [(0, 1, 9)]>   <1500, [(0, 2, 9)]>
10  <7876, [(0, 0, 10)]>  <20, [(0, 1, 10)]>  <1100, [(0, 2, 10)]>
11  <7900, [(0, 0, 11)]>  <30, [(0, 1, 11)]>   <950, [(0, 2, 11)]>
12  <7902, [(0, 0, 12)]>  <20, [(0, 1, 12)]>  <3000, [(0, 2, 12)]>
13  <7934, [(0, 0, 13)]>  <10, [(0, 1, 13)]>  <1300, [(0, 2, 13)]>

                         COL_0
0   <_?_, ('cumsum', ['_?_'])>
1   <_?_, ('cumsum', ['_?_'])>
2   <_?_, ('cumsum', ['_?_'])>
3   <_?_, ('cumsum', ['_?_'])>
4   <_?_, ('cumsum', ['_?_'])>
5   <_?_, ('cumsum', ['_?_'])>
6   <_?_, ('cumsum', ['_?_'])>
7   <_?_, ('cumsum', ['_?_'])>
8   <_?_, ('cumsum', ['_?_'])>
9   <_?_, ('cumsum', ['_?_'])>
10  <_?_, ('cumsum', ['_?_'])>
11  <_?_, ('cumsum', ['_?_'])>
12  <_?_, ('cumsum', ['_?_'])>
13  <_?_, ('cumsum', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 2)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, 0)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, 1)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, 2)
   run checker_function!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7), (3, 7)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7), (3, 7)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7), (3, 7)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7), (3, 7)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 7), (0, 2, 10), (0, 2, 0), (0, 2, 3), (0, 2, 12)}
fail whenc check t: (0, 2, 7)possible locs: [(2, 7), (3, 7)]
==========
cell trace check failed!
----
number of programs: 2
time cost: 0.5305078029632568

t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 2)
+----+---------+---------+-------+---------+
|    |   empno |   depno |   sal |   COL_0 |
|----+---------+---------+-------+---------|
|  0 |    7369 |      20 |   800 | 2175    |
|  1 |    7499 |      30 |  1600 | 1566.67 |
|  2 |    7521 |      30 |  1250 | 1566.67 |
|  3 |    7566 |      20 |  2975 | 2175    |
|  4 |    7654 |      30 |  1250 | 1566.67 |
|  5 |    7698 |      30 |  2850 | 1566.67 |
|  6 |    7782 |      10 |  2450 | 2916.67 |
|  7 |    7788 |      20 |  3000 | 2175    |
|  8 |    7839 |      10 |  5000 | 2916.67 |
|  9 |    7844 |      30 |  1500 | 1566.67 |
| 10 |    7876 |      20 |  1100 | 2175    |
| 11 |    7900 |      30 |   950 | 1566.67 |
| 12 |    7902 |      20 |  3000 | 2175    |
| 13 |    7934 |      10 |  1300 | 2916.67 |
+----+---------+---------+-------+---------+
+----+--------------+--------------+--------------+-------------------------------------------------------------------------------+
|    | empno        | depno        | sal          | COL_0                                                                         |
|----+--------------+--------------+--------------+-------------------------------------------------------------------------------|
|  0 | [(0, 0, 0)]  | [(0, 1, 0)]  | [(0, 2, 0)]  | ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])           |
|  1 | [(0, 0, 1)]  | [(0, 1, 1)]  | [(0, 2, 1)]  | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
|  2 | [(0, 0, 2)]  | [(0, 1, 2)]  | [(0, 2, 2)]  | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
|  3 | [(0, 0, 3)]  | [(0, 1, 3)]  | [(0, 2, 3)]  | ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])           |
|  4 | [(0, 0, 4)]  | [(0, 1, 4)]  | [(0, 2, 4)]  | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
|  5 | [(0, 0, 5)]  | [(0, 1, 5)]  | [(0, 2, 5)]  | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
|  6 | [(0, 0, 6)]  | [(0, 1, 6)]  | [(0, 2, 6)]  | ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])                                  |
|  7 | [(0, 0, 7)]  | [(0, 1, 7)]  | [(0, 2, 7)]  | ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])           |
|  8 | [(0, 0, 8)]  | [(0, 1, 8)]  | [(0, 2, 8)]  | ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])                                  |
|  9 | [(0, 0, 9)]  | [(0, 1, 9)]  | [(0, 2, 9)]  | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
| 10 | [(0, 0, 10)] | [(0, 1, 10)] | [(0, 2, 10)] | ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])           |
| 11 | [(0, 0, 11)] | [(0, 1, 11)] | [(0, 2, 11)] | ('mean', [(0, 2, 1), (0, 2, 2), (0, 2, 4), (0, 2, 5), (0, 2, 9), (0, 2, 11)]) |
| 12 | [(0, 0, 12)] | [(0, 1, 12)] | [(0, 2, 12)] | ('mean', [(0, 2, 0), (0, 2, 3), (0, 2, 7), (0, 2, 10), (0, 2, 12)])           |
| 13 | [(0, 0, 13)] | [(0, 1, 13)] | [(0, 2, 13)] | ('mean', [(0, 2, 6), (0, 2, 8), (0, 2, 13)])                                  |
+----+--------------+--------------+--------------+-------------------------------------------------------------------------------+

t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, 2)
+----+---------+---------+-------+---------+
|    |   empno |   depno |   sal |   COL_0 |
|----+---------+---------+-------+---------|
|  0 |    7369 |      20 |   800 | 2073.21 |
|  1 |    7499 |      30 |  1600 | 2073.21 |
|  2 |    7521 |      30 |  1250 | 2073.21 |
|  3 |    7566 |      20 |  2975 | 2073.21 |
|  4 |    7654 |      30 |  1250 | 2073.21 |
|  5 |    7698 |      30 |  2850 | 2073.21 |
|  6 |    7782 |      10 |  2450 | 2073.21 |
|  7 |    7788 |      20 |  3000 | 2073.21 |
|  8 |    7839 |      10 |  5000 | 2073.21 |
|  9 |    7844 |      30 |  1500 | 2073.21 |
| 10 |    7876 |      20 |  1100 | 2073.21 |
| 11 |    7900 |      30 |   950 | 2073.21 |
| 12 |    7902 |      20 |  3000 | 2073.21 |
| 13 |    7934 |      10 |  1300 | 2073.21 |
+----+---------+---------+-------+---------+

In [4]:
test_run("testbenches/004.json")

=====target annotated output=====
                 id                  total  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>

                                                                                                           COL_0  \
0  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
1  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
2  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
3  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
4  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
5  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
6  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
7  <143.46, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>

                                                                                                                                             COL_1
0   <0.17, ('lambda x, y: x / y', [(0, 1, 0), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
1    <0.2, ('lambda x, y: x / y', [(0, 1, 1), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
2   <0.34, ('lambda x, y: x / y', [(0, 1, 2), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
3  <-0.11, ('lambda x, y: x / y', [(0, 1, 3), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
4   <0.21, ('lambda x, y: x / y', [(0, 1, 4), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
5   <0.09, ('lambda x, y: x / y', [(0, 1, 5), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
6   <0.07, ('lambda x, y: x / y', [(0, 1, 6), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
7   <0.04, ('lambda x, y: x / y', [(0, 1, 7), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.025930404663085938

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, 4)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 7), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 id                  total                     COL_0  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>  <_?_, ('mean', ['_?_'])>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>  <_?_, ('mean', ['_?_'])>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>  <_?_, ('mean', ['_?_'])>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>  <_?_, ('mean', ['_?_'])>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>  <_?_, ('mean', ['_?_'])>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>  <_?_, ('mean', ['_?_'])>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>  <_?_, ('mean', ['_?_'])>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>  <_?_, ('mean', ['_?_'])>

        COL_1
0  <_?_, _?_>
1  <_?_, _?_>
2  <_?_, _?_>
3  <_?_, _?_>
4  <_?_, _?_>
5  <_?_, _?_>
6  <_?_, _?_>
7  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 id                  total                    COL_0  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>  <_?_, ('max', ['_?_'])>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>  <_?_, ('max', ['_?_'])>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>  <_?_, ('max', ['_?_'])>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>  <_?_, ('max', ['_?_'])>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>  <_?_, ('max', ['_?_'])>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>  <_?_, ('max', ['_?_'])>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>  <_?_, ('max', ['_?_'])>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>  <_?_, ('max', ['_?_'])>

        COL_1
0  <_?_, _?_>
1  <_?_, _?_>
2  <_?_, _?_>
3  <_?_, _?_>
4  <_?_, _?_>
5  <_?_, _?_>
6  <_?_, _?_>
7  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 id                  total                       COL_0  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>  <_?_, ('cumsum', ['_?_'])>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>  <_?_, ('cumsum', ['_?_'])>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>  <_?_, ('cumsum', ['_?_'])>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>  <_?_, ('cumsum', ['_?_'])>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>  <_?_, ('cumsum', ['_?_'])>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>  <_?_, ('cumsum', ['_?_'])>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>  <_?_, ('cumsum', ['_?_'])>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>  <_?_, ('cumsum', ['_?_'])>

        COL_1
0  <_?_, _?_>
1  <_?_, _?_>
2  <_?_, _?_>
3  <_?_, _?_>
4  <_?_, _?_>
5  <_?_, _?_>
6  <_?_, _?_>
7  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 0); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                 id                  total  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>

                                                                                                       COL_0  \
0  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
1  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
2  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
3  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
4  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
5  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
6  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
7  <36.0, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>

        COL_1
0  <_?_, _?_>
1  <_?_, _?_>
2  <_?_, _?_>
3  <_?_, _?_>
4  <_?_, _?_>
5  <_?_, _?_>
6  <_?_, _?_>
7  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, ?, ?, ?)
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, (2,), ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, [], ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, (2,), mean, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                 id                  total  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>

                                                                                                         COL_0  \
0  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
1  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
2  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
3  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
4  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
5  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
6  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
7  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>

                      COL_1
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
7  <_?_, ('mean', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, (2,), sum, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                 id                  total  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>

                                                                                                         COL_0  \
0  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
1  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
2  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
3  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
4  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
5  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
6  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
7  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>

                     COL_1
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
7  <_?_, ('sum', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 1); t2 <- group_mutate(t1, (2,), max, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                 id                  total  \
0  <1, [(0, 0, 0)]>   <24.78, [(0, 1, 0)]>
1  <2, [(0, 0, 1)]>   <28.54, [(0, 1, 1)]>
2  <3, [(0, 0, 2)]>   <48.69, [(0, 1, 2)]>
3  <4, [(0, 0, 3)]>  <-16.39, [(0, 1, 3)]>
4  <5, [(0, 0, 4)]>   <29.92, [(0, 1, 4)]>
5  <6, [(0, 0, 5)]>    <12.5, [(0, 1, 5)]>
6  <7, [(0, 0, 6)]>    <10.2, [(0, 1, 6)]>
7  <8, [(0, 0, 7)]>    <5.22, [(0, 1, 7)]>

                                                                                                         COL_0  \
0  <143.46, ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>

In [5]:
test_run("testbenches/005.json")

=====target annotated output=====
                                                                date  \
0  <2015-09-24, [ArgOr[(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3)]]>
1             <2015-09-30, [ArgOr[(0, 1, 4), (0, 1, 5), (0, 1, 6)]]>
2                                   <2015-11-16, [ArgOr[(0, 1, 7)]]>

                                                    count_trip_id  \
0  <4, [('count', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])]>
1             <3, [('count', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])]>
2                                   <1, [('count', [(0, 0, 7)])]>

                                                                                                                                              COL_0
0                                                                        <4, ('cumsum', [('count', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])])>
1                          <7, ('cumsum', [('count', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)]), ('count', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])])>
2  <8, ('cumsum', [('count', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)]), ('count', [(0, 0, 4), (0, 0, 5), (0, 0, 6)]), ('count', [(0, 0, 7)])])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.0458221435546875

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), max, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), max, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, ?, ?, ?)
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (1,), ?, ?)
   cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?'), (1, '?')]
==========
   cell trace check failed!
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (2,), ?, ?)
   cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, '?')]
==========
   cell trace check failed!
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (1, 2), ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (1, 2), mean, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                               COL_0  \
0  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('mean', [(0, 0, 7)])>

                      COL_1
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
7  <_?_, ('mean', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (1, 2), sum, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                               COL_0  \
0  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('mean', [(0, 0, 7)])>

                     COL_1
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
7  <_?_, ('sum', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (1, 2), count, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                               COL_0  \
0  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('mean', [(0, 0, 7)])>

                       COL_1
0  <_?_, ('count', ['_?_'])>
1  <_?_, ('count', ['_?_'])>
2  <_?_, ('count', ['_?_'])>
3  <_?_, ('count', ['_?_'])>
4  <_?_, ('count', ['_?_'])>
5  <_?_, ('count', ['_?_'])>
6  <_?_, ('count', ['_?_'])>
7  <_?_, ('count', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, 0); t2 <- group_sum(t1, (1, 2), max, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                               COL_0  \
0  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <1010827, ('mean', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6              <982326, ('mean', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('mean', [(0, 0, 7)])>

                     COL_1
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
3  <_?_, ('max', ['_?_'])>
4  <_?_, ('max', ['_?_'])>
5  <_?_, ('max', ['_?_'])>
6  <_?_, ('max', ['_?_'])>
7  <_?_, ('max', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, ?, ?, ?)
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, (1,), ?, ?)
   cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?'), (1, '?')]
==========
   cell trace check failed!
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, (2,), ?, ?)
   cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 2), (0, 1, 3), (0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 2)possible locs: [(1, '?')]
==========
   cell trace check failed!
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, (1, 2), ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, (1, 2), mean, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                              COL_0  \
0  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('sum', [(0, 0, 7)])>

                      COL_1
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
7  <_?_, ('mean', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, (1, 2), sum, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                              COL_0  \
0  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('sum', [(0, 0, 7)])>

                     COL_1
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
7  <_?_, ('sum', ['_?_'])>
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, 0); t2 <- group_sum(t1, (1, 2), count, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                        date  \
0  <2015-09-24, [(0, 1, 0)]>
1  <2015-09-24, [(0, 1, 1)]>
2  <2015-09-24, [(0, 1, 2)]>
3  <2015-09-24, [(0, 1, 3)]>
4  <2015-09-30, [(0, 1, 4)]>
5  <2015-09-30, [(0, 1, 5)]>
6  <2015-09-30, [(0, 1, 6)]>
7  <2015-11-16, [(0, 1, 7)]>

                                                              COL_0  \
0  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
1  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
2  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
3  <4043308, ('sum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
5             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
6             <2946978, ('sum', [(0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                   <1011650, ('sum', [(0, 0, 7)])>

                       COL_1
0  <_?_, ('count', ['_?_'])>
1  <_?_, ('count', ['_?_'])>
2  <_?_, ('count', ['_?_'])>
3  <_?_, ('count', ['_?_'])>
4  <_?_, ('count', ['_?_'])>
5  <_?_, ('count', ['_?_'])>
6  <_?_, ('count', ['_?_'])>
7  <_?_, ('count', ['_?_'])>

In [6]:
test_run("testbenches/007.json")

=====target annotated output=====
                amount         circle_id  \
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>

                                                                                                                      COL_0
0                                                                                           <1000, ('cumsum', [(0, 0, 0)])>
1                                                                                <4000, ('cumsum', [(0, 0, 0), (0, 0, 1)])>
2                                                                     <6000, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2)])>
3                                                          <9000, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4                                              <11500, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4)])>
5                                   <15250, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5)])>
6                        <17250, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7             <19750, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
8  <21200, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                amount         circle_id                     COL_0
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>  <_?_, ('mean', ['_?_'])>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <_?_, ('mean', ['_?_'])>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <_?_, ('mean', ['_?_'])>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>  <_?_, ('mean', ['_?_'])>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>  <_?_, ('mean', ['_?_'])>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>  <_?_, ('mean', ['_?_'])>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>  <_?_, ('mean', ['_?_'])>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>  <_?_, ('mean', ['_?_'])>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                amount         circle_id                    COL_0
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>  <_?_, ('sum', ['_?_'])>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <_?_, ('sum', ['_?_'])>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <_?_, ('sum', ['_?_'])>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>  <_?_, ('sum', ['_?_'])>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>  <_?_, ('sum', ['_?_'])>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>  <_?_, ('sum', ['_?_'])>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>  <_?_, ('sum', ['_?_'])>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>  <_?_, ('sum', ['_?_'])>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                amount         circle_id                    COL_0
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>  <_?_, ('max', ['_?_'])>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <_?_, ('max', ['_?_'])>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <_?_, ('max', ['_?_'])>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>  <_?_, ('max', ['_?_'])>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>  <_?_, ('max', ['_?_'])>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>  <_?_, ('max', ['_?_'])>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>  <_?_, ('max', ['_?_'])>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>  <_?_, ('max', ['_?_'])>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                amount         circle_id                     COL_0
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>  <_?_, ('mean', ['_?_'])>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <_?_, ('mean', ['_?_'])>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <_?_, ('mean', ['_?_'])>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>  <_?_, ('mean', ['_?_'])>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>  <_?_, ('mean', ['_?_'])>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>  <_?_, ('mean', ['_?_'])>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>  <_?_, ('mean', ['_?_'])>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>  <_?_, ('mean', ['_?_'])>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                amount         circle_id                    COL_0
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>  <_?_, ('sum', ['_?_'])>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <_?_, ('sum', ['_?_'])>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <_?_, ('sum', ['_?_'])>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>  <_?_, ('sum', ['_?_'])>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>  <_?_, ('sum', ['_?_'])>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>  <_?_, ('sum', ['_?_'])>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>  <_?_, ('sum', ['_?_'])>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>  <_?_, ('sum', ['_?_'])>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                amount         circle_id                    COL_0
0  <1000, [(0, 0, 0)]>  <1, [(0, 1, 0)]>  <_?_, ('max', ['_?_'])>
1  <3000, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <_?_, ('max', ['_?_'])>
2  <2000, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <_?_, ('max', ['_?_'])>
3  <3000, [(0, 0, 3)]>  <1, [(0, 1, 3)]>  <_?_, ('max', ['_?_'])>
4  <2500, [(0, 0, 4)]>  <2, [(0, 1, 4)]>  <_?_, ('max', ['_?_'])>
5  <3750, [(0, 0, 5)]>  <3, [(0, 1, 5)]>  <_?_, ('max', ['_?_'])>
6  <2000, [(0, 0, 6)]>  <1, [(0, 1, 6)]>  <_?_, ('max', ['_?_'])>
7  <2500, [(0, 0, 7)]>  <2, [(0, 1, 7)]>  <_?_, ('max', ['_?_'])>
8  <1450, [(0, 0, 8)]>  <3, [(0, 1, 8)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?)
cell trace check
computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, 0)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0)
   run checker_function!
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 1)
   run checker_function!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
----
number of programs: 1
time cost: 0.20351696014404297

t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0)
+----+----------+-------------+---------+
|    |   amount |   circle_id |   COL_0 |
|----+----------+-------------+---------|
|  0 |     1000 |           1 |    1000 |
|  1 |     3000 |           2 |    4000 |
|  2 |     2000 |           3 |    6000 |
|  3 |     3000 |           1 |    9000 |
|  4 |     2500 |           2 |   11500 |
|  5 |     3750 |           3 |   15250 |
|  6 |     2000 |           1 |   17250 |
|  7 |     2500 |           2 |   19750 |
|  8 |     1450 |           3 |   21200 |
+----+----------+-------------+---------+
+----+-------------+-------------+-----------------------------------------------------------------------------------------------------------------+
|    | amount      | circle_id   | COL_0                                                                                                           |
|----+-------------+-------------+-----------------------------------------------------------------------------------------------------------------|
|  0 | [(0, 0, 0)] | [(0, 1, 0)] | ('cumsum', [(0, 0, 0)])                                                                                         |
|  1 | [(0, 0, 1)] | [(0, 1, 1)] | ('cumsum', [(0, 0, 0), (0, 0, 1)])                                                                              |
|  2 | [(0, 0, 2)] | [(0, 1, 2)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2)])                                                                   |
|  3 | [(0, 0, 3)] | [(0, 1, 3)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])                                                        |
|  4 | [(0, 0, 4)] | [(0, 1, 4)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4)])                                             |
|  5 | [(0, 0, 5)] | [(0, 1, 5)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5)])                                  |
|  6 | [(0, 0, 6)] | [(0, 1, 6)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6)])                       |
|  7 | [(0, 0, 7)] | [(0, 1, 7)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])            |
|  8 | [(0, 0, 8)] | [(0, 1, 8)] | ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8)]) |
+----+-------------+-------------+-----------------------------------------------------------------------------------------------------------------+

number of programs: 1

In [7]:
test_run("testbenches/008.json")

=====target annotated output=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                                                COL_0
0  <3600.0, ('lambda x: x - (x * 0.1)', [(0, 2, 0)])>
1  <5400.0, ('lambda x: x - (x * 0.1)', [(0, 2, 1)])>
2  <5400.0, ('lambda x: x - (x * 0.1)', [(0, 2, 2)])>
3  <7200.0, ('lambda x: x - (x * 0.1)', [(0, 2, 3)])>
4  <5400.0, ('lambda x: x - (x * 0.1)', [(0, 2, 4)])>
5  <9900.0, ('lambda x: x - (x * 0.1)', [(0, 2, 5)])>
6  <2700.0, ('lambda x: x - (x * 0.1)', [(0, 2, 6)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (0, 1), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (0, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                      COL_0
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
3  <_?_, ('max', ['_?_'])>
4  <_?_, ('max', ['_?_'])>
5  <_?_, ('max', ['_?_'])>
6  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), cumsum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                        COL_0
0  <_?_, ('cumsum', ['_?_'])>
1  <_?_, ('cumsum', ['_?_'])>
2  <_?_, ('cumsum', ['_?_'])>
3  <_?_, ('cumsum', ['_?_'])>
4  <_?_, ('cumsum', ['_?_'])>
5  <_?_, ('cumsum', ['_?_'])>
6  <_?_, ('cumsum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                      COL_0
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
3  <_?_, ('max', ['_?_'])>
4  <_?_, ('max', ['_?_'])>
5  <_?_, ('max', ['_?_'])>
6  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                        COL_0
0  <_?_, ('cumsum', ['_?_'])>
1  <_?_, ('cumsum', ['_?_'])>
2  <_?_, ('cumsum', ['_?_'])>
3  <_?_, ('cumsum', ['_?_'])>
4  <_?_, ('cumsum', ['_?_'])>
5  <_?_, ('cumsum', ['_?_'])>
6  <_?_, ('cumsum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0, 1), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                      COL_0
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0, 1), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0, 1), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
3  <_?_, ('max', ['_?_'])>
4  <_?_, ('max', ['_?_'])>
5  <_?_, ('max', ['_?_'])>
6  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (0, 1), cumsum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                        COL_0
0  <_?_, ('cumsum', ['_?_'])>
1  <_?_, ('cumsum', ['_?_'])>
2  <_?_, ('cumsum', ['_?_'])>
3  <_?_, ('cumsum', ['_?_'])>
4  <_?_, ('cumsum', ['_?_'])>
5  <_?_, ('cumsum', ['_?_'])>
6  <_?_, ('cumsum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                      COL_0
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                     COL_0
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
3  <_?_, ('max', ['_?_'])>
4  <_?_, ('max', ['_?_'])>
5  <_?_, ('max', ['_?_'])>
6  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                        COL_0
0  <_?_, ('cumsum', ['_?_'])>
1  <_?_, ('cumsum', ['_?_'])>
2  <_?_, ('cumsum', ['_?_'])>
3  <_?_, ('cumsum', ['_?_'])>
4  <_?_, ('cumsum', ['_?_'])>
5  <_?_, ('cumsum', ['_?_'])>
6  <_?_, ('cumsum', ['_?_'])>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                                    COL_0
0  <_?_, ('lambda x, y: x - y', ['_?_'])>
1  <_?_, ('lambda x, y: x - y', ['_?_'])>
2  <_?_, ('lambda x, y: x - y', ['_?_'])>
3  <_?_, ('lambda x, y: x - y', ['_?_'])>
4  <_?_, ('lambda x, y: x - y', ['_?_'])>
5  <_?_, ('lambda x, y: x - y', ['_?_'])>
6  <_?_, ('lambda x, y: x - y', ['_?_'])>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
           cust_country             grade       outstanding_amt  \
0     <UK, [(0, 0, 0)]>  <2, [(0, 1, 0)]>   <4000, [(0, 2, 0)]>
1    <USA, [(0, 0, 1)]>  <2, [(0, 1, 1)]>   <6000, [(0, 2, 1)]>
2    <USA, [(0, 0, 2)]>  <3, [(0, 1, 2)]>   <6000, [(0, 2, 2)]>
3  <India, [(0, 0, 3)]>  <2, [(0, 1, 3)]>   <8000, [(0, 2, 3)]>
4     <UK, [(0, 0, 4)]>  <2, [(0, 1, 4)]>   <6000, [(0, 2, 4)]>
5     <UK, [(0, 0, 5)]>  <1, [(0, 1, 5)]>  <11000, [(0, 2, 5)]>
6    <USA, [(0, 0, 6)]>  <3, [(0, 1, 6)]>   <3000, [(0, 2, 6)]>

                                    COL_0
0  <_?_, ('lambda x, y: x + y', ['_?_'])>
1  <_?_, ('lambda x, y: x + y', ['_?_'])>
2  <_?_, ('lambda x, y: x + y', ['_?_'])>
3  <_?_, ('lambda x, y: x + y', ['_?_'])>
4  <_?_, ('lambda x, y: x + y', ['_?_'])>
5  <_?_, ('lambda x, y: x + y', ['_?_'])>

In [8]:
test_run("testbenches/010.json")

=====target annotated output=====
                        state                count  \
0      <Alabama, [(0, 0, 0)]>  <1667, [(0, 1, 0)]>
1       <Alaska, [(0, 0, 1)]>   <507, [(0, 1, 1)]>
2      <Alabama, [(0, 0, 2)]>   <930, [(0, 1, 2)]>
3      <Arizona, [(0, 0, 3)]>  <1352, [(0, 1, 3)]>
4   <California, [(0, 0, 4)]>  <1817, [(0, 1, 4)]>
5   <California, [(0, 0, 5)]>  <2302, [(0, 1, 5)]>
6  <Connecticut, [(0, 0, 6)]>  <1488, [(0, 1, 6)]>

                                       COL_0  \
0  <2597, [('sum', [(0, 1, 0), (0, 1, 2)])]>
1              <507, [('sum', [(0, 1, 1)])]>
2  <2597, [('sum', [(0, 1, 0), (0, 1, 2)])]>
3             <1352, [('sum', [(0, 1, 3)])]>
4  <4119, [('sum', [(0, 1, 4), (0, 1, 5)])]>
5  <4119, [('sum', [(0, 1, 4), (0, 1, 5)])]>
6             <1488, [('sum', [(0, 1, 6)])]>

                                                                                               COL_1  \
0  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
1  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
2  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
3  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
4  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
5  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
6  <10063, [('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>

                                                                                                                                                       COL_2
0  <0.26, ('lambda x, y: x / y', [('sum', [(0, 1, 0), (0, 1, 2)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
1             <0.05, ('lambda x, y: x / y', [('sum', [(0, 1, 1)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
2  <0.26, ('lambda x, y: x / y', [('sum', [(0, 1, 0), (0, 1, 2)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
3             <0.13, ('lambda x, y: x / y', [('sum', [(0, 1, 3)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
4  <0.41, ('lambda x, y: x / y', [('sum', [(0, 1, 4), (0, 1, 5)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
5  <0.41, ('lambda x, y: x / y', [('sum', [(0, 1, 4), (0, 1, 5)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
6             <0.15, ('lambda x, y: x / y', [('sum', [(0, 1, 6)]), ('sum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.04587721824645996

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(0, '?'), (1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (3, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (3, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, '?'), (2, 2), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, '?'), (2, 2), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, '?'), (2, 2), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, '?'), (2, 2), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, '?'), (2, 2), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- mutate_arithmetic(t1, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- mutate_arithmetic(t1, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (3, 4), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (3, 4), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- mutate_arithmetic(t1, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, 2), (2, 2), (3, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, 2), (2, 2), (3, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, 2), (2, 2), (3, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, 2), (2, 2), (3, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- mutate_arithmetic(t1, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (3, 2), (2, 2), (3, 2)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.15358853340148926

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 4), (0, 1, 0), (0, 1, 3), (0, 1, 6), (0, 1, 5), (0, 1, 2), (0, 1, 1)}
fail whenc check t: (0, 1, 4)possible locs: [(1, 4), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(1, 2), (2, 2)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 2), (0, 1, 0)}
fail whenc check t: (0, 1, 2)possible locs: [(0, '?'), (1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)

In [9]:
test_run("testbenches/011.json")

=====target annotated output=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                   COL_0  \
0  <3, [('lambda x, y: x + y', [(0, 0, 0), (0, 1, 0)])]>
1  <5, [('lambda x, y: x + y', [(0, 0, 1), (0, 1, 1)])]>
2  <7, [('lambda x, y: x + y', [(0, 0, 2), (0, 1, 2)])]>

                                                                                       COL_1
0   <6, ('lambda x, y: x + y', [(0, 2, 0), ('lambda x, y: x + y', [(0, 0, 0), (0, 1, 0)])])>
1   <9, ('lambda x, y: x + y', [(0, 2, 1), ('lambda x, y: x + y', [(0, 0, 1), (0, 1, 1)])])>
2  <12, ('lambda x, y: x + y', [(0, 2, 2), ('lambda x, y: x + y', [(0, 0, 2), (0, 1, 2)])])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.031914710998535156

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(2, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 2, 0), (0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                      COL_0       COL_1
0  <_?_, ('mean', ['_?_'])>  <_?_, _?_>
1  <_?_, ('mean', ['_?_'])>  <_?_, _?_>
2  <_?_, ('mean', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                     COL_0       COL_1
0  <_?_, ('sum', ['_?_'])>  <_?_, _?_>
1  <_?_, ('sum', ['_?_'])>  <_?_, _?_>
2  <_?_, ('sum', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                     COL_0       COL_1
0  <_?_, ('max', ['_?_'])>  <_?_, _?_>
1  <_?_, ('max', ['_?_'])>  <_?_, _?_>
2  <_?_, ('max', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                        COL_0       COL_1
0  <_?_, ('cumsum', ['_?_'])>  <_?_, _?_>
1  <_?_, ('cumsum', ['_?_'])>  <_?_, _?_>
2  <_?_, ('cumsum', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                    COL_0       COL_1
0  <_?_, ('lambda x, y: x - y', ['_?_'])>  <_?_, _?_>
1  <_?_, ('lambda x, y: x - y', ['_?_'])>  <_?_, _?_>
2  <_?_, ('lambda x, y: x - y', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                    COL_0       COL_1
0  <_?_, ('lambda x, y: x * y', ['_?_'])>  <_?_, _?_>
1  <_?_, ('lambda x, y: x * y', ['_?_'])>  <_?_, _?_>
2  <_?_, ('lambda x, y: x * y', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                    COL_0       COL_1
0  <_?_, ('lambda x, y: x / y', ['_?_'])>  <_?_, _?_>
1  <_?_, ('lambda x, y: x / y', ['_?_'])>  <_?_, _?_>
2  <_?_, ('lambda x, y: x / y', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                         COL_0       COL_1
0  <_?_, ('lambda x: x - (x * 0.1)', ['_?_'])>  <_?_, _?_>
1  <_?_, ('lambda x: x - (x * 0.1)', ['_?_'])>  <_?_, _?_>
2  <_?_, ('lambda x: x - (x * 0.1)', ['_?_'])>  <_?_, _?_>
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 2)); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (4, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 0)); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 2)); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (4, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (2, 0)); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (4, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (2, 1)); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0), (0, 1, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (4, '?')]
==========
cell trace check failed!
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, ?, ?, ?)
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, [], ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, [], mean, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \
0  <3, ('lambda x, y: x + y', [(0, 0, 0), (0, 1, 0)])>
1  <5, ('lambda x, y: x + y', [(0, 0, 1), (0, 1, 1)])>
2  <7, ('lambda x, y: x + y', [(0, 0, 2), (0, 1, 2)])>

                      COL_1
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, [], sum, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \
0  <3, ('lambda x, y: x + y', [(0, 0, 0), (0, 1, 0)])>
1  <5, ('lambda x, y: x + y', [(0, 0, 1), (0, 1, 1)])>
2  <7, ('lambda x, y: x + y', [(0, 0, 2), (0, 1, 2)])>

                     COL_1
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, [], max, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \
0  <3, ('lambda x, y: x + y', [(0, 0, 0), (0, 1, 0)])>
1  <5, ('lambda x, y: x + y', [(0, 0, 1), (0, 1, 1)])>
2  <7, ('lambda x, y: x + y', [(0, 0, 2), (0, 1, 2)])>

                     COL_1
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (0, 1)); t2 <- group_mutate(t1, [], cumsum, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \
0  <3, ('lambda x, y: x + y', [(0, 0, 0), (0, 1, 0)])>
1  <5, ('lambda x, y: x + y', [(0, 0, 1), (0, 1, 1)])>
2  <7, ('lambda x, y: x + y', [(0, 0, 2), (0, 1, 2)])>

                        COL_1
0  <_?_, ('cumsum', ['_?_'])>
1  <_?_, ('cumsum', ['_?_'])>
2  <_?_, ('cumsum', ['_?_'])>
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 0)); t2 <- group_mutate(t1, ?, ?, ?)
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 0)); t2 <- group_mutate(t1, [], ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 0)); t2 <- group_mutate(t1, [], mean, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \
0  <3, ('lambda x, y: x + y', [(0, 1, 0), (0, 0, 0)])>
1  <5, ('lambda x, y: x + y', [(0, 1, 1), (0, 0, 1)])>
2  <7, ('lambda x, y: x + y', [(0, 1, 2), (0, 0, 2)])>

                      COL_1
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 0)); t2 <- group_mutate(t1, [], sum, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \
0  <3, ('lambda x, y: x + y', [(0, 1, 0), (0, 0, 0)])>
1  <5, ('lambda x, y: x + y', [(0, 1, 1), (0, 0, 1)])>
2  <7, ('lambda x, y: x + y', [(0, 1, 2), (0, 0, 2)])>

                     COL_1
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
   t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, (1, 0)); t2 <- group_mutate(t1, [], max, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
                  X                 Y                 Z  \
0  <1, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <3, [(0, 2, 0)]>
1  <2, [(0, 0, 1)]>  <3, [(0, 1, 1)]>  <4, [(0, 2, 1)]>
2  <3, [(0, 0, 2)]>  <4, [(0, 1, 2)]>  <5, [(0, 2, 2)]>

                                                 COL_0  \

In [10]:
test_run("testbenches/012.json")

=====target annotated output=====
            Net Cash Flow                 Month  \
0    <80000, [(0, 0, 0)]>  <Start, [(0, 1, 0)]>
1    <-5003, [(0, 0, 1)]>    <Apr, [(0, 1, 1)]>
2   <-16700, [(0, 0, 2)]>    <May, [(0, 1, 2)]>
3    <48802, [(0, 0, 3)]>    <Jun, [(0, 1, 3)]>
4   <-11198, [(0, 0, 4)]>    <Jul, [(0, 1, 4)]>
5   <-35260, [(0, 0, 5)]>    <Aug, [(0, 1, 5)]>
6    <18220, [(0, 0, 6)]>    <Sep, [(0, 1, 6)]>
7   <-23840, [(0, 0, 7)]>    <Oct, [(0, 1, 7)]>
8    <43250, [(0, 0, 8)]>    <Nov, [(0, 1, 8)]>
9   <-18280, [(0, 0, 9)]>    <Dec, [(0, 1, 9)]>
10  <26670, [(0, 0, 10)]>   <Jan, [(0, 1, 10)]>
11  <15000, [(0, 0, 11)]>   <Feb, [(0, 1, 11)]>
12  <24750, [(0, 0, 12)]>   <Mar, [(0, 1, 12)]>

                                                                                                                                                                         COL_0  \
0                                                                                                                                           <80000, [('cumsum', [(0, 0, 0)])]>
1                                                                                                                                <74997, [('cumsum', [(0, 0, 0), (0, 0, 1)])]>
2                                                                                                                     <58297, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2)])]>
3                                                                                                         <107099, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])]>
4                                                                                               <95901, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4)])]>
5                                                                                    <60641, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5)])]>
6                                                                         <78861, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6)])]>
7                                                              <55021, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])]>
8                                                   <98271, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8)])]>
9                                        <79991, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9)])]>
10                          <106661, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10)])]>
11              <121661, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10), (0, 0, 11)])]>
12  <146411, [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10), (0, 0, 11), (0, 0, 12)])]>

                                                                                                                                                                                                             COL_1
0                                                                                                                                                <0, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0)]), (0, 0, 0)])>
1                                                                                                                                 <80000, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1)]), (0, 0, 1)])>
2                                                                                                                      <74997, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2)]), (0, 0, 2)])>
3                                                                                                           <58297, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)]), (0, 0, 3)])>
4                                                                                               <107099, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4)]), (0, 0, 4)])>
5                                                                                     <95901, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5)]), (0, 0, 5)])>
6                                                                          <60641, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6)]), (0, 0, 6)])>
7                                                               <78861, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)]), (0, 0, 7)])>
8                                                    <55021, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8)]), (0, 0, 8)])>
9                                         <98271, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9)]), (0, 0, 9)])>
10                           <79991, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10)]), (0, 0, 10)])>
11              <106661, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10), (0, 0, 11)]), (0, 0, 11)])>
12  <121661, ('lambda x, y: x - y', [('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10), (0, 0, 11), (0, 0, 12)]), (0, 0, 12)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.0438838005065918

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 0, 0), (0, 0, 1)}
fail whenc check t: (0, 0, 0)possible locs: [(0, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
            Net Cash Flow                 Month                     COL_0  \
0    <80000, [(0, 0, 0)]>  <Start, [(0, 1, 0)]>  <_?_, ('mean', ['_?_'])>
1    <-5003, [(0, 0, 1)]>    <Apr, [(0, 1, 1)]>  <_?_, ('mean', ['_?_'])>
2   <-16700, [(0, 0, 2)]>    <May, [(0, 1, 2)]>  <_?_, ('mean', ['_?_'])>
3    <48802, [(0, 0, 3)]>    <Jun, [(0, 1, 3)]>  <_?_, ('mean', ['_?_'])>
4   <-11198, [(0, 0, 4)]>    <Jul, [(0, 1, 4)]>  <_?_, ('mean', ['_?_'])>
5   <-35260, [(0, 0, 5)]>    <Aug, [(0, 1, 5)]>  <_?_, ('mean', ['_?_'])>
6    <18220, [(0, 0, 6)]>    <Sep, [(0, 1, 6)]>  <_?_, ('mean', ['_?_'])>
7   <-23840, [(0, 0, 7)]>    <Oct, [(0, 1, 7)]>  <_?_, ('mean', ['_?_'])>
8    <43250, [(0, 0, 8)]>    <Nov, [(0, 1, 8)]>  <_?_, ('mean', ['_?_'])>
9   <-18280, [(0, 0, 9)]>    <Dec, [(0, 1, 9)]>  <_?_, ('mean', ['_?_'])>
10  <26670, [(0, 0, 10)]>   <Jan, [(0, 1, 10)]>  <_?_, ('mean', ['_?_'])>
11  <15000, [(0, 0, 11)]>   <Feb, [(0, 1, 11)]>  <_?_, ('mean', ['_?_'])>
12  <24750, [(0, 0, 12)]>   <Mar, [(0, 1, 12)]>  <_?_, ('mean', ['_?_'])>

         COL_1
0   <_?_, _?_>
1   <_?_, _?_>
2   <_?_, _?_>
3   <_?_, _?_>
4   <_?_, _?_>
5   <_?_, _?_>
6   <_?_, _?_>
7   <_?_, _?_>
8   <_?_, _?_>
9   <_?_, _?_>
10  <_?_, _?_>
11  <_?_, _?_>
12  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
            Net Cash Flow                 Month                    COL_0  \
0    <80000, [(0, 0, 0)]>  <Start, [(0, 1, 0)]>  <_?_, ('sum', ['_?_'])>
1    <-5003, [(0, 0, 1)]>    <Apr, [(0, 1, 1)]>  <_?_, ('sum', ['_?_'])>
2   <-16700, [(0, 0, 2)]>    <May, [(0, 1, 2)]>  <_?_, ('sum', ['_?_'])>
3    <48802, [(0, 0, 3)]>    <Jun, [(0, 1, 3)]>  <_?_, ('sum', ['_?_'])>
4   <-11198, [(0, 0, 4)]>    <Jul, [(0, 1, 4)]>  <_?_, ('sum', ['_?_'])>
5   <-35260, [(0, 0, 5)]>    <Aug, [(0, 1, 5)]>  <_?_, ('sum', ['_?_'])>
6    <18220, [(0, 0, 6)]>    <Sep, [(0, 1, 6)]>  <_?_, ('sum', ['_?_'])>
7   <-23840, [(0, 0, 7)]>    <Oct, [(0, 1, 7)]>  <_?_, ('sum', ['_?_'])>
8    <43250, [(0, 0, 8)]>    <Nov, [(0, 1, 8)]>  <_?_, ('sum', ['_?_'])>
9   <-18280, [(0, 0, 9)]>    <Dec, [(0, 1, 9)]>  <_?_, ('sum', ['_?_'])>
10  <26670, [(0, 0, 10)]>   <Jan, [(0, 1, 10)]>  <_?_, ('sum', ['_?_'])>
11  <15000, [(0, 0, 11)]>   <Feb, [(0, 1, 11)]>  <_?_, ('sum', ['_?_'])>
12  <24750, [(0, 0, 12)]>   <Mar, [(0, 1, 12)]>  <_?_, ('sum', ['_?_'])>

         COL_1
0   <_?_, _?_>
1   <_?_, _?_>
2   <_?_, _?_>
3   <_?_, _?_>
4   <_?_, _?_>
5   <_?_, _?_>
6   <_?_, _?_>
7   <_?_, _?_>
8   <_?_, _?_>
9   <_?_, _?_>
10  <_?_, _?_>
11  <_?_, _?_>
12  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
            Net Cash Flow                 Month                    COL_0  \
0    <80000, [(0, 0, 0)]>  <Start, [(0, 1, 0)]>  <_?_, ('max', ['_?_'])>
1    <-5003, [(0, 0, 1)]>    <Apr, [(0, 1, 1)]>  <_?_, ('max', ['_?_'])>
2   <-16700, [(0, 0, 2)]>    <May, [(0, 1, 2)]>  <_?_, ('max', ['_?_'])>
3    <48802, [(0, 0, 3)]>    <Jun, [(0, 1, 3)]>  <_?_, ('max', ['_?_'])>
4   <-11198, [(0, 0, 4)]>    <Jul, [(0, 1, 4)]>  <_?_, ('max', ['_?_'])>
5   <-35260, [(0, 0, 5)]>    <Aug, [(0, 1, 5)]>  <_?_, ('max', ['_?_'])>
6    <18220, [(0, 0, 6)]>    <Sep, [(0, 1, 6)]>  <_?_, ('max', ['_?_'])>
7   <-23840, [(0, 0, 7)]>    <Oct, [(0, 1, 7)]>  <_?_, ('max', ['_?_'])>
8    <43250, [(0, 0, 8)]>    <Nov, [(0, 1, 8)]>  <_?_, ('max', ['_?_'])>
9   <-18280, [(0, 0, 9)]>    <Dec, [(0, 1, 9)]>  <_?_, ('max', ['_?_'])>
10  <26670, [(0, 0, 10)]>   <Jan, [(0, 1, 10)]>  <_?_, ('max', ['_?_'])>
11  <15000, [(0, 0, 11)]>   <Feb, [(0, 1, 11)]>  <_?_, ('max', ['_?_'])>
12  <24750, [(0, 0, 12)]>   <Mar, [(0, 1, 12)]>  <_?_, ('max', ['_?_'])>

         COL_1
0   <_?_, _?_>
1   <_?_, _?_>
2   <_?_, _?_>
3   <_?_, _?_>
4   <_?_, _?_>
5   <_?_, _?_>
6   <_?_, _?_>
7   <_?_, _?_>
8   <_?_, _?_>
9   <_?_, _?_>
10  <_?_, _?_>
11  <_?_, _?_>
12  <_?_, _?_>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0); t2 <- group_mutate(t1, ?, ?, ?)
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0); t2 <- group_mutate(t1, [], ?, ?)
   cell trace check
   computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 0); t2 <- group_mutate(t1, [], mean, ?)
   cell trace check
   computation check
   computation check failed!
=====Computation Check Result=====
            Net Cash Flow                 Month  \
0    <80000, [(0, 0, 0)]>  <Start, [(0, 1, 0)]>
1    <-5003, [(0, 0, 1)]>    <Apr, [(0, 1, 1)]>
2   <-16700, [(0, 0, 2)]>    <May, [(0, 1, 2)]>
3    <48802, [(0, 0, 3)]>    <Jun, [(0, 1, 3)]>
4   <-11198, [(0, 0, 4)]>    <Jul, [(0, 1, 4)]>
5   <-35260, [(0, 0, 5)]>    <Aug, [(0, 1, 5)]>
6    <18220, [(0, 0, 6)]>    <Sep, [(0, 1, 6)]>
7   <-23840, [(0, 0, 7)]>    <Oct, [(0, 1, 7)]>
8    <43250, [(0, 0, 8)]>    <Nov, [(0, 1, 8)]>
9   <-18280, [(0, 0, 9)]>    <Dec, [(0, 1, 9)]>
10  <26670, [(0, 0, 10)]>   <Jan, [(0, 1, 10)]>
11  <15000, [(0, 0, 11)]>   <Feb, [(0, 1, 11)]>
12  <24750, [(0, 0, 12)]>   <Mar, [(0, 1, 12)]>

                                                                                                                                                                       COL_0  \
0                                                                                                                                           <80000, ('cumsum', [(0, 0, 0)])>
1                                                                                                                                <74997, ('cumsum', [(0, 0, 0), (0, 0, 1)])>
2                                                                                                                     <58297, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2)])>
3                                                                                                         <107099, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3)])>
4                                                                                               <95901, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4)])>
5                                                                                    <60641, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5)])>
6                                                                         <78861, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6)])>
7                                                              <55021, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7)])>
8                                                   <98271, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8)])>
9                                        <79991, ('cumsum', [(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9)])>

In [11]:
test_run("testbenches/013.json")

=====target annotated output=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                         COL_0
0  <7, [(0, 4, 0)]>  <7, ('cumsum', [(0, 4, 0)])>
1  <8, [(0, 4, 1)]>  <8, ('cumsum', [(0, 4, 1)])>
2  <9, [(0, 4, 2)]>  <9, ('cumsum', [(0, 4, 2)])>
3  <9, [(0, 4, 3)]>  <9, ('cumsum', [(0, 4, 3)])>
4  <9, [(0, 4, 4)]>  <9, ('cumsum', [(0, 4, 4)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (4,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 3), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 3), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (3,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (4,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (5, 0)
arguments: {(0, 4, 0)}
fail whenc check t: (0, 4, 0)possible locs: [(4, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 3), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (5, 0)
arguments: {(0, 4, 0)}
fail whenc check t: (0, 4, 0)possible locs: [(4, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (2, 3), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (5, 0)
arguments: {(0, 4, 0)}
fail whenc check t: (0, 4, 0)possible locs: [(4, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (3, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (5, 0)
arguments: {(0, 4, 0)}
fail whenc check t: (0, 4, 0)possible locs: [(4, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                     COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('mean', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('mean', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('mean', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('mean', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('sum', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('sum', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('sum', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('sum', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('max', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('max', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('max', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('max', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), cumsum, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                     COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('mean', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('mean', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('mean', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('mean', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('sum', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('sum', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('sum', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('sum', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('max', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('max', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('max', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('max', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), cumsum, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (3,), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                     COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('mean', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('mean', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('mean', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('mean', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (3,), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('sum', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('sum', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('sum', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('sum', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (3,), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('max', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('max', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('max', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('max', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (3,), cumsum, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 3), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                     COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('mean', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('mean', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('mean', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('mean', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 3), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('sum', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('sum', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('sum', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('sum', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 3), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('max', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('max', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('max', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('max', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 3), cumsum, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2, 3), mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                     COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('mean', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('mean', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('mean', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('mean', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (2, 3), sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('sum', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('sum', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('sum', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('sum', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (2, 3), max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('max', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('max', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('max', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('max', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, (2, 3), cumsum, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                     COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('mean', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('mean', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('mean', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('mean', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
              Value             alpha              beta             gamma  \
0  <A, [(0, 0, 0)]>  <2, [(0, 1, 0)]>  <2, [(0, 2, 0)]>  <3, [(0, 3, 0)]>
1  <B, [(0, 0, 1)]>  <2, [(0, 1, 1)]>  <3, [(0, 2, 1)]>  <3, [(0, 3, 1)]>
2  <C, [(0, 0, 2)]>  <3, [(0, 1, 2)]>  <3, [(0, 2, 2)]>  <3, [(0, 3, 2)]>
3  <D, [(0, 0, 3)]>  <3, [(0, 1, 3)]>  <4, [(0, 2, 3)]>  <2, [(0, 3, 3)]>
4  <E, [(0, 0, 4)]>  <4, [(0, 1, 4)]>  <3, [(0, 2, 4)]>  <2, [(0, 3, 4)]>

             Totals                    COL_0
0  <7, [(0, 4, 0)]>  <_?_, ('sum', ['_?_'])>
1  <8, [(0, 4, 1)]>  <_?_, ('sum', ['_?_'])>
2  <9, [(0, 4, 2)]>  <_?_, ('sum', ['_?_'])>
3  <9, [(0, 4, 3)]>  <_?_, ('sum', ['_?_'])>
4  <9, [(0, 4, 4)]>  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?)
cell trace check
computation check

In [13]:
test_run("testbenches/014.json")

=====target annotated output=====
                                                                                                                                                                                                                                                                                                            Product  \
0                                                                                                                                                                                                                                                 <Apple, [ArgOr[(0, 1, 31), (0, 1, 35), (0, 1, 88), (0, 1, 200)]]>
1                                                                                                                                                                                                                        <Apple, [ArgOr[(0, 1, 9), (0, 1, 53), (0, 1, 63), (0, 1, 107), (0, 1, 143), (0, 1, 204)]]>
2                                                                                           <Apple, [ArgOr[(0, 1, 8), (0, 1, 14), (0, 1, 29), (0, 1, 32), (0, 1, 34), (0, 1, 52), (0, 1, 74), (0, 1, 78), (0, 1, 100), (0, 1, 108), (0, 1, 140), (0, 1, 141), (0, 1, 171), (0, 1, 182), (0, 1, 189), (0, 1, 208)]]>
3                                                                                                                                                                                                                                                                        <Apple, [ArgOr[(0, 1, 124), (0, 1, 206)]]>
4                                                                                                                                                                                                                                                                         <Apple, [ArgOr[(0, 1, 45), (0, 1, 205)]]>
5                                                                                                                                                                                                                                              <Apple, [ArgOr[(0, 1, 130), (0, 1, 145), (0, 1, 172), (0, 1, 181)]]>
6                                                                                                                                                                                                                       <Apple, [ArgOr[(0, 1, 19), (0, 1, 36), (0, 1, 60), (0, 1, 102), (0, 1, 155), (0, 1, 193)]]>
7                                                                                                                                                                  <Banana, [ArgOr[(0, 1, 43), (0, 1, 48), (0, 1, 83), (0, 1, 131), (0, 1, 150), (0, 1, 167), (0, 1, 174), (0, 1, 176), (0, 1, 188), (0, 1, 196)]]>
8                                                                                                                                                                                                           <Banana, [ArgOr[(0, 1, 3), (0, 1, 22), (0, 1, 42), (0, 1, 80), (0, 1, 110), (0, 1, 118), (0, 1, 195)]]>
9                                                                                                                                                                                                         <Banana, [ArgOr[(0, 1, 50), (0, 1, 65), (0, 1, 84), (0, 1, 113), (0, 1, 117), (0, 1, 134), (0, 1, 156)]]>
10                                                                                                                                                                              <Banana, [ArgOr[(0, 1, 10), (0, 1, 73), (0, 1, 81), (0, 1, 138), (0, 1, 148), (0, 1, 165), (0, 1, 175), (0, 1, 198), (0, 1, 201)]]>
11                                                                                                                                                                                              <Banana, [ArgOr[(0, 1, 7), (0, 1, 21), (0, 1, 55), (0, 1, 66), (0, 1, 93), (0, 1, 147), (0, 1, 169), (0, 1, 173)]]>
12                                                                                                                                                                                                         <Banana, [ArgOr[(0, 1, 15), (0, 1, 17), (0, 1, 64), (0, 1, 77), (0, 1, 127), (0, 1, 151), (0, 1, 179)]]>
13  <Banana, [ArgOr[(0, 1, 2), (0, 1, 16), (0, 1, 23), (0, 1, 38), (0, 1, 39), (0, 1, 58), (0, 1, 62), (0, 1, 68), (0, 1, 71), (0, 1, 75), (0, 1, 92), (0, 1, 99), (0, 1, 106), (0, 1, 114), (0, 1, 132), (0, 1, 149), (0, 1, 152), (0, 1, 157), (0, 1, 160), (0, 1, 183), (0, 1, 190), (0, 1, 197), (0, 1, 199)]]>
14                                                                                                                                                                                                                                                           <Beans, [ArgOr[(0, 1, 94), (0, 1, 133), (0, 1, 177)]]>
15                                                                                                                                                                                                                                                                                    <Beans, [ArgOr[(0, 1, 209)]]>
16                                                                                                                                                                                                                        <Beans, [ArgOr[(0, 1, 4), (0, 1, 28), (0, 1, 44), (0, 1, 86), (0, 1, 146), (0, 1, 194)]]>
17                                                                                                                                                                                                                                                                        <Beans, [ArgOr[(0, 1, 24), (0, 1, 202)]]>
18                                                                                                                                                                                                                                                                                     <Beans, [ArgOr[(0, 1, 27)]]>
19                                                                                                                                                                                                                                                                      <Broccoli, [ArgOr[(0, 1, 6), (0, 1, 112)]]>
20                                                                                                                                                                                                                                                         <Broccoli, [ArgOr[(0, 1, 13), (0, 1, 61), (0, 1, 154)]]>
21                                                                                                                                                                                                                                                                                  <Broccoli, [ArgOr[(0, 1, 41)]]>
22                                                                                                                                                                                         <Broccoli, [ArgOr[(0, 1, 33), (0, 1, 57), (0, 1, 98), (0, 1, 105), (0, 1, 109), (0, 1, 142), (0, 1, 159), (0, 1, 185)]]>
23                                                                                                                                                                                                                                                                                 <Broccoli, [ArgOr[(0, 1, 153)]]>
24                                                                                                                                                                                           <Broccoli, [ArgOr[(0, 1, 1), (0, 1, 18), (0, 1, 85), (0, 1, 91), (0, 1, 111), (0, 1, 120), (0, 1, 125), (0, 1, 162)]]>
25                                                                                                                                                                                                                                           <Broccoli, [ArgOr[(0, 1, 11), (0, 1, 128), (0, 1, 135), (0, 1, 137)]]>
26                                                                                                                                                                                                                                                         <Carrots, [ArgOr[(0, 1, 25), (0, 1, 211), (0, 1, 212)]]>
27                                                                                                                                                                                                                                                                                  <Carrots, [ArgOr[(0, 1, 192)]]>
28                                                                                                                                                                                                                    <Carrots, [ArgOr[(0, 1, 12), (0, 1, 49), (0, 1, 67), (0, 1, 163), (0, 1, 166), (0, 1, 168)]]>
29                                                                                                                                                                                                         <Carrots, [ArgOr[(0, 1, 37), (0, 1, 40), (0, 1, 54), (0, 1, 79), (0, 1, 82), (0, 1, 129), (0, 1, 184)]]>
30                                                                                                                                                                 <Carrots, [ArgOr[(0, 1, 0), (0, 1, 56), (0, 1, 87), (0, 1, 103), (0, 1, 139), (0, 1, 144), (0, 1, 170), (0, 1, 180), (0, 1, 191), (0, 1, 207)]]>
31                                                                                                                                                                                                                                                                        <Mango, [ArgOr[(0, 1, 51), (0, 1, 161)]]>
32                                                                                                                                                                                                                                                                                    <Mango, [ArgOr[(0, 1, 104)]]>
33                                                                                                                                                                                                                                                                                     <Mango, [ArgOr[(0, 1, 26)]]>
34                                                                                                                                                                                                                                                                                     <Mango, [ArgOr[(0, 1, 90)]]>
35                                                                                                                                                                                                                                                                                     <Mango, [ArgOr[(0, 1, 70)]]>
36                                                                                                                                                                                                                                   <Mango, [ArgOr[(0, 1, 30), (0, 1, 69), (0, 1, 89), (0, 1, 101), (0, 1, 116)]]>
37                                                                                                                                                                                                                                                           <Orange, [ArgOr[(0, 1, 59), (0, 1, 97), (0, 1, 164)]]>
38                                                                                                                                                                                                                                                           <Orange, [ArgOr[(0, 1, 72), (0, 1, 96), (0, 1, 187)]]>
39                                                                                                                                                                                                                                                                                    <Orange, [ArgOr[(0, 1, 20)]]>
40                                                                                                                                                                                                                                                                                    <Orange, [ArgOr[(0, 1, 46)]]>
41                                                                                                                                                                                                                                                         <Orange, [ArgOr[(0, 1, 119), (0, 1, 123), (0, 1, 126)]]>
42                                                                                                                                                                                                                                <Orange, [ArgOr[(0, 1, 95), (0, 1, 121), (0, 1, 122), (0, 1, 186), (0, 1, 203)]]>
43                                                                                                                                                                                            <Orange, [ArgOr[(0, 1, 5), (0, 1, 47), (0, 1, 76), (0, 1, 115), (0, 1, 136), (0, 1, 158), (0, 1, 178), (0, 1, 210)]]>

                                                                                                                                                                                                                                                                                                                   Country  \
0                                                                                                                                                                                                                                                    <Australia, [ArgOr[(0, 5, 31), (0, 5, 35), (0, 5, 88), (0, 5, 200)]]>
1                                                                                                                                                                                                                              <Canada, [ArgOr[(0, 5, 9), (0, 5, 53), (0, 5, 63), (0, 5, 107), (0, 5, 143), (0, 5, 204)]]>
2                                                                                                 <France, [ArgOr[(0, 5, 8), (0, 5, 14), (0, 5, 29), (0, 5, 32), (0, 5, 34), (0, 5, 52), (0, 5, 74), (0, 5, 78), (0, 5, 100), (0, 5, 108), (0, 5, 140), (0, 5, 141), (0, 5, 171), (0, 5, 182), (0, 5, 189), (0, 5, 208)]]>
3                                                                                                                                                                                                                                                                             <Germany, [ArgOr[(0, 5, 124), (0, 5, 206)]]>
4                                                                                                                                                                                                                                                                          <New Zealand, [ArgOr[(0, 5, 45), (0, 5, 205)]]>
5                                                                                                                                                                                                                                            <United Kingdom, [ArgOr[(0, 5, 130), (0, 5, 145), (0, 5, 172), (0, 5, 181)]]>
6                                                                                                                                                                                                                      <United States, [ArgOr[(0, 5, 19), (0, 5, 36), (0, 5, 60), (0, 5, 102), (0, 5, 155), (0, 5, 193)]]>
7                                                                                                                                                                      <Australia, [ArgOr[(0, 5, 43), (0, 5, 48), (0, 5, 83), (0, 5, 131), (0, 5, 150), (0, 5, 167), (0, 5, 174), (0, 5, 176), (0, 5, 188), (0, 5, 196)]]>
8                                                                                                                                                                                                                  <Canada, [ArgOr[(0, 5, 3), (0, 5, 22), (0, 5, 42), (0, 5, 80), (0, 5, 110), (0, 5, 118), (0, 5, 195)]]>
9                                                                                                                                                                                                                <France, [ArgOr[(0, 5, 50), (0, 5, 65), (0, 5, 84), (0, 5, 113), (0, 5, 117), (0, 5, 134), (0, 5, 156)]]>
10                                                                                                                                                                                    <Germany, [ArgOr[(0, 5, 10), (0, 5, 73), (0, 5, 81), (0, 5, 138), (0, 5, 148), (0, 5, 165), (0, 5, 175), (0, 5, 198), (0, 5, 201)]]>
11                                                                                                                                                                                                <New Zealand, [ArgOr[(0, 5, 7), (0, 5, 21), (0, 5, 55), (0, 5, 66), (0, 5, 93), (0, 5, 147), (0, 5, 169), (0, 5, 173)]]>
12                                                                                                                                                                                                        <United Kingdom, [ArgOr[(0, 5, 15), (0, 5, 17), (0, 5, 64), (0, 5, 77), (0, 5, 127), (0, 5, 151), (0, 5, 179)]]>
13  <United States, [ArgOr[(0, 5, 2), (0, 5, 16), (0, 5, 23), (0, 5, 38), (0, 5, 39), (0, 5, 58), (0, 5, 62), (0, 5, 68), (0, 5, 71), (0, 5, 75), (0, 5, 92), (0, 5, 99), (0, 5, 106), (0, 5, 114), (0, 5, 132), (0, 5, 149), (0, 5, 152), (0, 5, 157), (0, 5, 160), (0, 5, 183), (0, 5, 190), (0, 5, 197), (0, 5, 199)]]>
14                                                                                                                                                                                                                                                              <Australia, [ArgOr[(0, 5, 94), (0, 5, 133), (0, 5, 177)]]>
15                                                                                                                                                                                                                                                                                          <France, [ArgOr[(0, 5, 209)]]>
16                                                                                                                                                                                                                             <Germany, [ArgOr[(0, 5, 4), (0, 5, 28), (0, 5, 44), (0, 5, 86), (0, 5, 146), (0, 5, 194)]]>
17                                                                                                                                                                                                                                                                      <United Kingdom, [ArgOr[(0, 5, 24), (0, 5, 202)]]>

In [14]:
test_run("testbenches/015.json")

=====target annotated output=====
                     Complaint Type               Count  \
0          <Too noisy, [(0, 0, 0)]>   <27, [(0, 1, 0)]>
1         <Overpriced, [(0, 0, 1)]>  <789, [(0, 1, 1)]>
2  <Food is tasteless, [(0, 0, 2)]>   <65, [(0, 1, 2)]>
3     <Food not fresh, [(0, 0, 3)]>    <9, [(0, 1, 3)]>
4  <Food is too salty, [(0, 0, 4)]>   <15, [(0, 1, 4)]>
5          <Not clean, [(0, 0, 5)]>   <30, [(0, 1, 5)]>
6   <Unfriendly staff, [(0, 0, 6)]>   <12, [(0, 1, 6)]>
7          <Wait time, [(0, 0, 7)]>  <109, [(0, 1, 7)]>
8      <No atmosphere, [(0, 0, 8)]>   <45, [(0, 1, 8)]>
9     <Small portions, [(0, 0, 9)]>  <621, [(0, 1, 9)]>

                                                                                                                                COL_0
0                                                                                                       <27, ('cumsum', [(0, 1, 0)])>
1                                                                                           <816, ('cumsum', [(0, 1, 0), (0, 1, 1)])>
2                                                                                <881, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2)])>
3                                                                     <890, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3)])>
4                                                          <905, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4)])>
5                                               <935, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5)])>
6                                    <947, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])>
7                        <1056, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])>
8             <1101, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8)])>
9  <1722, ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
pruned by group keys
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], mean, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                     Complaint Type               Count  \
0          <Too noisy, [(0, 0, 0)]>   <27, [(0, 1, 0)]>
1         <Overpriced, [(0, 0, 1)]>  <789, [(0, 1, 1)]>
2  <Food is tasteless, [(0, 0, 2)]>   <65, [(0, 1, 2)]>
3     <Food not fresh, [(0, 0, 3)]>    <9, [(0, 1, 3)]>
4  <Food is too salty, [(0, 0, 4)]>   <15, [(0, 1, 4)]>
5          <Not clean, [(0, 0, 5)]>   <30, [(0, 1, 5)]>
6   <Unfriendly staff, [(0, 0, 6)]>   <12, [(0, 1, 6)]>
7          <Wait time, [(0, 0, 7)]>  <109, [(0, 1, 7)]>
8      <No atmosphere, [(0, 0, 8)]>   <45, [(0, 1, 8)]>
9     <Small portions, [(0, 0, 9)]>  <621, [(0, 1, 9)]>

                      COL_0
0  <_?_, ('mean', ['_?_'])>
1  <_?_, ('mean', ['_?_'])>
2  <_?_, ('mean', ['_?_'])>
3  <_?_, ('mean', ['_?_'])>
4  <_?_, ('mean', ['_?_'])>
5  <_?_, ('mean', ['_?_'])>
6  <_?_, ('mean', ['_?_'])>
7  <_?_, ('mean', ['_?_'])>
8  <_?_, ('mean', ['_?_'])>
9  <_?_, ('mean', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], sum, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                     Complaint Type               Count  \
0          <Too noisy, [(0, 0, 0)]>   <27, [(0, 1, 0)]>
1         <Overpriced, [(0, 0, 1)]>  <789, [(0, 1, 1)]>
2  <Food is tasteless, [(0, 0, 2)]>   <65, [(0, 1, 2)]>
3     <Food not fresh, [(0, 0, 3)]>    <9, [(0, 1, 3)]>
4  <Food is too salty, [(0, 0, 4)]>   <15, [(0, 1, 4)]>
5          <Not clean, [(0, 0, 5)]>   <30, [(0, 1, 5)]>
6   <Unfriendly staff, [(0, 0, 6)]>   <12, [(0, 1, 6)]>
7          <Wait time, [(0, 0, 7)]>  <109, [(0, 1, 7)]>
8      <No atmosphere, [(0, 0, 8)]>   <45, [(0, 1, 8)]>
9     <Small portions, [(0, 0, 9)]>  <621, [(0, 1, 9)]>

                     COL_0
0  <_?_, ('sum', ['_?_'])>
1  <_?_, ('sum', ['_?_'])>
2  <_?_, ('sum', ['_?_'])>
3  <_?_, ('sum', ['_?_'])>
4  <_?_, ('sum', ['_?_'])>
5  <_?_, ('sum', ['_?_'])>
6  <_?_, ('sum', ['_?_'])>
7  <_?_, ('sum', ['_?_'])>
8  <_?_, ('sum', ['_?_'])>
9  <_?_, ('sum', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], max, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                     Complaint Type               Count  \
0          <Too noisy, [(0, 0, 0)]>   <27, [(0, 1, 0)]>
1         <Overpriced, [(0, 0, 1)]>  <789, [(0, 1, 1)]>
2  <Food is tasteless, [(0, 0, 2)]>   <65, [(0, 1, 2)]>
3     <Food not fresh, [(0, 0, 3)]>    <9, [(0, 1, 3)]>
4  <Food is too salty, [(0, 0, 4)]>   <15, [(0, 1, 4)]>
5          <Not clean, [(0, 0, 5)]>   <30, [(0, 1, 5)]>
6   <Unfriendly staff, [(0, 0, 6)]>   <12, [(0, 1, 6)]>
7          <Wait time, [(0, 0, 7)]>  <109, [(0, 1, 7)]>
8      <No atmosphere, [(0, 0, 8)]>   <45, [(0, 1, 8)]>
9     <Small portions, [(0, 0, 9)]>  <621, [(0, 1, 9)]>

                     COL_0
0  <_?_, ('max', ['_?_'])>
1  <_?_, ('max', ['_?_'])>
2  <_?_, ('max', ['_?_'])>
3  <_?_, ('max', ['_?_'])>
4  <_?_, ('max', ['_?_'])>
5  <_?_, ('max', ['_?_'])>
6  <_?_, ('max', ['_?_'])>
7  <_?_, ('max', ['_?_'])>
8  <_?_, ('max', ['_?_'])>
9  <_?_, ('max', ['_?_'])>
t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, ?)
cell trace check
computation check
   t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 1)
   run checker_function!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
----
number of programs: 1
time cost: 0.14535188674926758

t0 <- table_ref(0); t1 <- group_mutate(t0, [], cumsum, 1)
+----+-------------------+---------+---------+
|    | Complaint Type    |   Count |   COL_0 |
|----+-------------------+---------+---------|
|  0 | Too noisy         |      27 |      27 |
|  1 | Overpriced        |     789 |     816 |
|  2 | Food is tasteless |      65 |     881 |
|  3 | Food not fresh    |       9 |     890 |
|  4 | Food is too salty |      15 |     905 |
|  5 | Not clean         |      30 |     935 |
|  6 | Unfriendly staff  |      12 |     947 |
|  7 | Wait time         |     109 |    1056 |
|  8 | No atmosphere     |      45 |    1101 |
|  9 | Small portions    |     621 |    1722 |
+----+-------------------+---------+---------+
+----+------------------+-------------+----------------------------------------------------------------------------------------------------------------------------+
|    | Complaint Type   | Count       | COL_0                                                                                                                      |
|----+------------------+-------------+----------------------------------------------------------------------------------------------------------------------------|
|  0 | [(0, 0, 0)]      | [(0, 1, 0)] | ('cumsum', [(0, 1, 0)])                                                                                                    |
|  1 | [(0, 0, 1)]      | [(0, 1, 1)] | ('cumsum', [(0, 1, 0), (0, 1, 1)])                                                                                         |
|  2 | [(0, 0, 2)]      | [(0, 1, 2)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2)])                                                                              |
|  3 | [(0, 0, 3)]      | [(0, 1, 3)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3)])                                                                   |
|  4 | [(0, 0, 4)]      | [(0, 1, 4)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4)])                                                        |
|  5 | [(0, 0, 5)]      | [(0, 1, 5)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5)])                                             |
|  6 | [(0, 0, 6)]      | [(0, 1, 6)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])                                  |
|  7 | [(0, 0, 7)]      | [(0, 1, 7)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])                       |
|  8 | [(0, 0, 8)]      | [(0, 1, 8)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8)])            |
|  9 | [(0, 0, 9)]      | [(0, 1, 9)] | ('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9)]) |
+----+------------------+-------------+----------------------------------------------------------------------------------------------------------------------------+

number of programs: 1

In [ ]:
test_run("testbenches/016.json")

=====target annotated output=====
                                                                                       data_ora  \
0      <06_00, [ArgOr[(0, 0, 0), (0, 0, 1), (0, 0, 96), (0, 0, 97), (0, 0, 192), (0, 0, 193)]]>
1      <06_00, [ArgOr[(0, 0, 2), (0, 0, 3), (0, 0, 98), (0, 0, 99), (0, 0, 194), (0, 0, 195)]]>
2    <06_01, [ArgOr[(0, 0, 4), (0, 0, 5), (0, 0, 100), (0, 0, 101), (0, 0, 196), (0, 0, 197)]]>
3    <06_01, [ArgOr[(0, 0, 6), (0, 0, 7), (0, 0, 102), (0, 0, 103), (0, 0, 198), (0, 0, 199)]]>
4    <06_02, [ArgOr[(0, 0, 8), (0, 0, 9), (0, 0, 104), (0, 0, 105), (0, 0, 200), (0, 0, 201)]]>
..                                                                                          ...
892                                                <30_14, [ArgOr[(0, 0, 1976), (0, 0, 1977)]]>
893                                                <30_14, [ArgOr[(0, 0, 1978), (0, 0, 1979)]]>
894                                                <30_15, [ArgOr[(0, 0, 1980), (0, 0, 1981)]]>
895                                                <30_15, [ArgOr[(0, 0, 1982), (0, 0, 1983)]]>
896                                                <30_16, [ArgOr[(0, 0, 1984), (0, 0, 1985)]]>

                                                                                              site  \
0        <e90e50, [ArgOr[(0, 1, 0), (0, 1, 1), (0, 1, 96), (0, 1, 97), (0, 1, 192), (0, 1, 193)]]>
1      <e90e50fx, [ArgOr[(0, 1, 2), (0, 1, 3), (0, 1, 98), (0, 1, 99), (0, 1, 194), (0, 1, 195)]]>
2      <e90e50, [ArgOr[(0, 1, 4), (0, 1, 5), (0, 1, 100), (0, 1, 101), (0, 1, 196), (0, 1, 197)]]>
3    <e90e50fx, [ArgOr[(0, 1, 6), (0, 1, 7), (0, 1, 102), (0, 1, 103), (0, 1, 198), (0, 1, 199)]]>
4      <e90e50, [ArgOr[(0, 1, 8), (0, 1, 9), (0, 1, 104), (0, 1, 105), (0, 1, 200), (0, 1, 201)]]>
..                                                                                             ...
892                                                  <e90e50, [ArgOr[(0, 1, 1976), (0, 1, 1977)]]>
893                                                <e90e50fx, [ArgOr[(0, 1, 1978), (0, 1, 1979)]]>
894                                                  <e90e50, [ArgOr[(0, 1, 1980), (0, 1, 1981)]]>
895                                                <e90e50fx, [ArgOr[(0, 1, 1982), (0, 1, 1983)]]>
896                                                  <e90e50, [ArgOr[(0, 1, 1984), (0, 1, 1985)]]>

                                                                                     sum_value
0      <87, ('sum', [(0, 3, 0), (0, 3, 1), (0, 3, 96), (0, 3, 97), (0, 3, 192), (0, 3, 193)])>
1      <68, ('sum', [(0, 3, 2), (0, 3, 3), (0, 3, 98), (0, 3, 99), (0, 3, 194), (0, 3, 195)])>
2    <70, ('sum', [(0, 3, 4), (0, 3, 5), (0, 3, 100), (0, 3, 101), (0, 3, 196), (0, 3, 197)])>
3    <79, ('sum', [(0, 3, 6), (0, 3, 7), (0, 3, 102), (0, 3, 103), (0, 3, 198), (0, 3, 199)])>
4    <85, ('sum', [(0, 3, 8), (0, 3, 9), (0, 3, 104), (0, 3, 105), (0, 3, 200), (0, 3, 201)])>
..                                                                                         ...
892                                                 <6, ('sum', [(0, 3, 1976), (0, 3, 1977)])>
893                                                 <5, ('sum', [(0, 3, 1978), (0, 3, 1979)])>
894                                                <18, ('sum', [(0, 3, 1980), (0, 3, 1981)])>
895                                                <17, ('sum', [(0, 3, 1982), (0, 3, 1983)])>
896                                                <35, ('sum', [(0, 3, 1984), (0, 3, 1985)])>

[897 rows x 3 columns]
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 3, 1), (0, 3, 97), (0, 3, 0), (0, 3, 193), (0, 3, 96), (0, 3, 192)}
fail whenc check t: (0, 3, 1)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 97), (0, 0, 193), (0, 0, 0), (0, 0, 96), (0, 0, 192), (0, 0, 1)}
fail whenc check t: (0, 0, 97)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 97), (0, 0, 193), (0, 0, 0), (0, 0, 96), (0, 0, 192), (0, 0, 1)}
fail whenc check t: (0, 0, 97)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 97), (0, 0, 193), (0, 0, 0), (0, 0, 96), (0, 0, 192), (0, 0, 1)}
fail whenc check t: (0, 0, 97)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1), ?, ?)
cell trace check
computation check

In [18]:
test_run("testbenches/017.json")

=====target annotated output=====
                    id              Value            Win / Loss  \
0     <0, [(0, 0, 0)]>  <10, [(0, 1, 0)]>    <Win, [(0, 2, 0)]>
1     <1, [(0, 0, 1)]>   <2, [(0, 1, 1)]>   <Loss, [(0, 2, 1)]>
2     <2, [(0, 0, 2)]>  <12, [(0, 1, 2)]>    <Win, [(0, 2, 2)]>
3     <3, [(0, 0, 3)]>   <4, [(0, 1, 3)]>   <Loss, [(0, 2, 3)]>
4     <4, [(0, 0, 4)]>   <5, [(0, 1, 4)]>    <Win, [(0, 2, 4)]>
5     <5, [(0, 0, 5)]>  <16, [(0, 1, 5)]>   <Loss, [(0, 2, 5)]>
6     <6, [(0, 0, 6)]>   <9, [(0, 1, 6)]>    <Win, [(0, 2, 6)]>
7     <7, [(0, 0, 7)]>  <18, [(0, 1, 7)]>   <Loss, [(0, 2, 7)]>
8     <8, [(0, 0, 8)]>  <12, [(0, 1, 8)]>    <Win, [(0, 2, 8)]>
9     <9, [(0, 0, 9)]>   <3, [(0, 1, 9)]>   <Loss, [(0, 2, 9)]>
10  <10, [(0, 0, 10)]>  <4, [(0, 1, 10)]>   <Win, [(0, 2, 10)]>
11  <11, [(0, 0, 11)]>  <4, [(0, 1, 11)]>  <Loss, [(0, 2, 11)]>
12  <12, [(0, 0, 12)]>  <1, [(0, 1, 12)]>   <Win, [(0, 2, 12)]>

                                                                                                                                                                      COL_0  \
0                                                                                                                                           <10, [('cumsum', [(0, 1, 0)])]>
1                                                                                                                                <12, [('cumsum', [(0, 1, 0), (0, 1, 1)])]>
2                                                                                                                     <24, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2)])]>
3                                                                                                          <28, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3)])]>
4                                                                                               <33, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4)])]>
5                                                                                    <49, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5)])]>
6                                                                         <58, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)])]>
7                                                              <76, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)])]>
8                                                   <88, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8)])]>
9                                        <91, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9)])]>
10                           <95, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10)])]>
11               <99, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10), (0, 1, 11)])]>
12  <100, [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10), (0, 1, 11), (0, 1, 12)])]>

                                                                                                                                                                                                         COL_1
0                                                                                                                                            <0, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0)]), (0, 1, 0)])>
1                                                                                                                                <10, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1)]), (0, 1, 1)])>
2                                                                                                                     <12, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2)]), (0, 1, 2)])>
3                                                                                                          <24, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3)]), (0, 1, 3)])>
4                                                                                               <28, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4)]), (0, 1, 4)])>
5                                                                                    <33, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5)]), (0, 1, 5)])>
6                                                                         <49, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6)]), (0, 1, 6)])>
7                                                              <58, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7)]), (0, 1, 7)])>
8                                                   <76, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8)]), (0, 1, 8)])>
9                                        <88, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9)]), (0, 1, 9)])>
10                          <91, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10)]), (0, 1, 10)])>
11              <95, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10), (0, 1, 11)]), (0, 1, 11)])>
12  <99, ('lambda x, y: x - y', [('cumsum', [(0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10), (0, 1, 11), (0, 1, 12)]), (0, 1, 12)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.043882131576538086

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 1)
arguments: {(0, 1, 0), (0, 1, 1)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (3, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 2, 0)}
fail whenc check t: (0, 2, 0)possible locs: [(0, '?'), (1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (4, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (3, '?'), (0, '?'), (1, '?'), (2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 0, 0)}
fail whenc check t: (0, 0, 0)possible locs: [(2, '?'), (3, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (1,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (4, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (1, 2), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (4, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (2,), mean, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                    id              Value            Win / Loss  \
0     <0, [(0, 0, 0)]>  <10, [(0, 1, 0)]>    <Win, [(0, 2, 0)]>
1     <1, [(0, 0, 1)]>   <2, [(0, 1, 1)]>   <Loss, [(0, 2, 1)]>
2     <2, [(0, 0, 2)]>  <12, [(0, 1, 2)]>    <Win, [(0, 2, 2)]>
3     <3, [(0, 0, 3)]>   <4, [(0, 1, 3)]>   <Loss, [(0, 2, 3)]>
4     <4, [(0, 0, 4)]>   <5, [(0, 1, 4)]>    <Win, [(0, 2, 4)]>
5     <5, [(0, 0, 5)]>  <16, [(0, 1, 5)]>   <Loss, [(0, 2, 5)]>
6     <6, [(0, 0, 6)]>   <9, [(0, 1, 6)]>    <Win, [(0, 2, 6)]>
7     <7, [(0, 0, 7)]>  <18, [(0, 1, 7)]>   <Loss, [(0, 2, 7)]>
8     <8, [(0, 0, 8)]>  <12, [(0, 1, 8)]>    <Win, [(0, 2, 8)]>
9     <9, [(0, 0, 9)]>   <3, [(0, 1, 9)]>   <Loss, [(0, 2, 9)]>
10  <10, [(0, 0, 10)]>  <4, [(0, 1, 10)]>   <Win, [(0, 2, 10)]>
11  <11, [(0, 0, 11)]>  <4, [(0, 1, 11)]>  <Loss, [(0, 2, 11)]>
12  <12, [(0, 0, 12)]>  <1, [(0, 1, 12)]>   <Win, [(0, 2, 12)]>

                       COL_0       COL_1
0   <_?_, ('mean', ['_?_'])>  <_?_, _?_>
1   <_?_, ('mean', ['_?_'])>  <_?_, _?_>
2   <_?_, ('mean', ['_?_'])>  <_?_, _?_>

In [2]:
test_run("testbenches/018.json")

=====target annotated output=====
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      cut  \
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     <Fair, [ArgOr[(0, 1, 31), (0, 1, 68), (0, 1, 81)]]>
1                                                                                                                                                                                                                                                                                                                                                                                                                                              <Good, [ArgOr[(0, 1, 8), (0, 1, 11), (0, 1, 13), (0, 1, 17), (0, 1, 28), (0, 1, 55), (0, 1, 86), (0, 1, 89), (0, 1, 93)]]>
2  <Ideal, [ArgOr[(0, 1, 0), (0, 1, 1), (0, 1, 3), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 10), (0, 1, 12), (0, 1, 14), (0, 1, 16), (0, 1, 19), (0, 1, 22), (0, 1, 23), (0, 1, 25), (0, 1, 27), (0, 1, 34), (0, 1, 36), (0, 1, 39), (0, 1, 41), (0, 1, 43), (0, 1, 47), (0, 1, 50), (0, 1, 58), (0, 1, 59), (0, 1, 60), (0, 1, 62), (0, 1, 63), (0, 1, 65), (0, 1, 67), (0, 1, 70), (0, 1, 71), (0, 1, 73), (0, 1, 74), (0, 1, 76), (0, 1, 77), (0, 1, 78), (0, 1, 79), (0, 1, 80), (0, 1, 82), (0, 1, 90), (0, 1, 91), (0, 1, 94), (0, 1, 95), (0, 1, 96), (0, 1, 99)]]>
3                                                                                                                                                                                                                                                                                                                               <Premium, [ArgOr[(0, 1, 2), (0, 1, 26), (0, 1, 30), (0, 1, 32), (0, 1, 33), (0, 1, 35), (0, 1, 40), (0, 1, 42), (0, 1, 45), (0, 1, 48), (0, 1, 53), (0, 1, 61), (0, 1, 66), (0, 1, 69), (0, 1, 75), (0, 1, 84), (0, 1, 92), (0, 1, 97)]]>
4                                                                                                                                                                                                                                          <Very Good, [ArgOr[(0, 1, 4), (0, 1, 9), (0, 1, 15), (0, 1, 18), (0, 1, 20), (0, 1, 21), (0, 1, 24), (0, 1, 29), (0, 1, 37), (0, 1, 38), (0, 1, 44), (0, 1, 46), (0, 1, 49), (0, 1, 51), (0, 1, 52), (0, 1, 54), (0, 1, 56), (0, 1, 57), (0, 1, 64), (0, 1, 72), (0, 1, 83), (0, 1, 85), (0, 1, 87), (0, 1, 88), (0, 1, 98)]]>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               count_carat
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     <3, ('count', [(0, 0, 31), (0, 0, 68), (0, 0, 81)])>
1                                                                                                                                                                                                                                                                                                                                                                                                                                              <9, ('count', [(0, 0, 8), (0, 0, 11), (0, 0, 13), (0, 0, 17), (0, 0, 28), (0, 0, 55), (0, 0, 86), (0, 0, 89), (0, 0, 93)])>
2  <45, ('count', [(0, 0, 0), (0, 0, 1), (0, 0, 3), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 10), (0, 0, 12), (0, 0, 14), (0, 0, 16), (0, 0, 19), (0, 0, 22), (0, 0, 23), (0, 0, 25), (0, 0, 27), (0, 0, 34), (0, 0, 36), (0, 0, 39), (0, 0, 41), (0, 0, 43), (0, 0, 47), (0, 0, 50), (0, 0, 58), (0, 0, 59), (0, 0, 60), (0, 0, 62), (0, 0, 63), (0, 0, 65), (0, 0, 67), (0, 0, 70), (0, 0, 71), (0, 0, 73), (0, 0, 74), (0, 0, 76), (0, 0, 77), (0, 0, 78), (0, 0, 79), (0, 0, 80), (0, 0, 82), (0, 0, 90), (0, 0, 91), (0, 0, 94), (0, 0, 95), (0, 0, 96), (0, 0, 99)])>
3                                                                                                                                                                                                                                                                                                                                 <18, ('count', [(0, 0, 2), (0, 0, 26), (0, 0, 30), (0, 0, 32), (0, 0, 33), (0, 0, 35), (0, 0, 40), (0, 0, 42), (0, 0, 45), (0, 0, 48), (0, 0, 53), (0, 0, 61), (0, 0, 66), (0, 0, 69), (0, 0, 75), (0, 0, 84), (0, 0, 92), (0, 0, 97)])>
4                                                                                                                                                                                                                                              <25, ('count', [(0, 0, 4), (0, 0, 9), (0, 0, 15), (0, 0, 18), (0, 0, 20), (0, 0, 21), (0, 0, 24), (0, 0, 29), (0, 0, 37), (0, 0, 38), (0, 0, 44), (0, 0, 46), (0, 0, 49), (0, 0, 51), (0, 0, 52), (0, 0, 54), (0, 0, 56), (0, 0, 57), (0, 0, 64), (0, 0, 72), (0, 0, 83), (0, 0, 85), (0, 0, 87), (0, 0, 88), (0, 0, 98)])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1,), ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_sum(t0, (2,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (4,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (5,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (6,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (7,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (8,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (9,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 3), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 5), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 8), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 3), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 5), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 6), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 8), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (1, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (1, 0)
arguments: {(0, 0, 68), (0, 0, 81), (0, 0, 31)}
fail whenc check t: (0, 0, 68)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 3), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 5), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 6), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 8), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (2, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3, 5), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3, 8), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (3, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (4, 5), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (4, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (5, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (5, 8), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (5, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (6, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (7, 8), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (8, 9), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1, 2), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1, 3), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1, 4), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1, 5), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}
fail whenc check t: (0, 1, 81)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, (0, 1, 7), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (0, 0)
arguments: {(0, 1, 81), (0, 1, 31), (0, 1, 68)}

In [4]:
test_run("testbenches/019.json")

=====target annotated output=====
               obs_num                set                  x_  \
0     <1, [(0, 0, 0)]>   <1, [(0, 1, 0)]>   <10, [(0, 2, 0)]>
1     <1, [(0, 0, 1)]>   <2, [(0, 1, 1)]>   <10, [(0, 2, 1)]>
2     <1, [(0, 0, 2)]>   <3, [(0, 1, 2)]>   <10, [(0, 2, 2)]>
3     <1, [(0, 0, 3)]>   <4, [(0, 1, 3)]>    <8, [(0, 2, 3)]>
4     <2, [(0, 0, 4)]>   <1, [(0, 1, 4)]>    <8, [(0, 2, 4)]>
5     <2, [(0, 0, 5)]>   <2, [(0, 1, 5)]>    <8, [(0, 2, 5)]>
6     <2, [(0, 0, 6)]>   <3, [(0, 1, 6)]>    <8, [(0, 2, 6)]>
7     <2, [(0, 0, 7)]>   <4, [(0, 1, 7)]>    <8, [(0, 2, 7)]>
8     <3, [(0, 0, 8)]>   <1, [(0, 1, 8)]>   <13, [(0, 2, 8)]>
9     <3, [(0, 0, 9)]>   <2, [(0, 1, 9)]>   <13, [(0, 2, 9)]>
10   <3, [(0, 0, 10)]>  <3, [(0, 1, 10)]>  <13, [(0, 2, 10)]>
11   <3, [(0, 0, 11)]>  <4, [(0, 1, 11)]>   <8, [(0, 2, 11)]>
12   <4, [(0, 0, 12)]>  <1, [(0, 1, 12)]>   <9, [(0, 2, 12)]>
13   <4, [(0, 0, 13)]>  <2, [(0, 1, 13)]>   <9, [(0, 2, 13)]>
14   <4, [(0, 0, 14)]>  <3, [(0, 1, 14)]>   <9, [(0, 2, 14)]>
15   <4, [(0, 0, 15)]>  <4, [(0, 1, 15)]>   <8, [(0, 2, 15)]>
16   <5, [(0, 0, 16)]>  <1, [(0, 1, 16)]>  <11, [(0, 2, 16)]>
17   <5, [(0, 0, 17)]>  <2, [(0, 1, 17)]>  <11, [(0, 2, 17)]>
18   <5, [(0, 0, 18)]>  <3, [(0, 1, 18)]>  <11, [(0, 2, 18)]>
19   <5, [(0, 0, 19)]>  <4, [(0, 1, 19)]>   <8, [(0, 2, 19)]>
20   <6, [(0, 0, 20)]>  <1, [(0, 1, 20)]>  <14, [(0, 2, 20)]>
21   <6, [(0, 0, 21)]>  <2, [(0, 1, 21)]>  <14, [(0, 2, 21)]>
22   <6, [(0, 0, 22)]>  <3, [(0, 1, 22)]>  <14, [(0, 2, 22)]>
23   <6, [(0, 0, 23)]>  <4, [(0, 1, 23)]>   <8, [(0, 2, 23)]>
24   <7, [(0, 0, 24)]>  <1, [(0, 1, 24)]>   <6, [(0, 2, 24)]>
25   <7, [(0, 0, 25)]>  <2, [(0, 1, 25)]>   <6, [(0, 2, 25)]>
26   <7, [(0, 0, 26)]>  <3, [(0, 1, 26)]>   <6, [(0, 2, 26)]>
27   <7, [(0, 0, 27)]>  <4, [(0, 1, 27)]>   <8, [(0, 2, 27)]>
28   <8, [(0, 0, 28)]>  <1, [(0, 1, 28)]>   <4, [(0, 2, 28)]>
29   <8, [(0, 0, 29)]>  <2, [(0, 1, 29)]>   <4, [(0, 2, 29)]>
30   <8, [(0, 0, 30)]>  <3, [(0, 1, 30)]>   <4, [(0, 2, 30)]>
31   <8, [(0, 0, 31)]>  <4, [(0, 1, 31)]>  <19, [(0, 2, 31)]>
32   <9, [(0, 0, 32)]>  <1, [(0, 1, 32)]>  <12, [(0, 2, 32)]>
33   <9, [(0, 0, 33)]>  <2, [(0, 1, 33)]>  <12, [(0, 2, 33)]>
34   <9, [(0, 0, 34)]>  <3, [(0, 1, 34)]>  <12, [(0, 2, 34)]>
35   <9, [(0, 0, 35)]>  <4, [(0, 1, 35)]>   <8, [(0, 2, 35)]>
36  <10, [(0, 0, 36)]>  <1, [(0, 1, 36)]>   <7, [(0, 2, 36)]>
37  <10, [(0, 0, 37)]>  <2, [(0, 1, 37)]>   <7, [(0, 2, 37)]>
38  <10, [(0, 0, 38)]>  <3, [(0, 1, 38)]>   <7, [(0, 2, 38)]>
39  <10, [(0, 0, 39)]>  <4, [(0, 1, 39)]>   <8, [(0, 2, 39)]>
40  <11, [(0, 0, 40)]>  <1, [(0, 1, 40)]>   <5, [(0, 2, 40)]>
41  <11, [(0, 0, 41)]>  <2, [(0, 1, 41)]>   <5, [(0, 2, 41)]>
42  <11, [(0, 0, 42)]>  <3, [(0, 1, 42)]>   <5, [(0, 2, 42)]>
43  <11, [(0, 0, 43)]>  <4, [(0, 1, 43)]>   <8, [(0, 2, 43)]>

                       y_                                 COL_0  \
0     <8.04, [(0, 3, 0)]>   <1, [('lambda x: 1', [(0, 0, 0)])]>
1     <9.14, [(0, 3, 1)]>   <1, [('lambda x: 1', [(0, 0, 1)])]>
2     <7.46, [(0, 3, 2)]>   <1, [('lambda x: 1', [(0, 0, 2)])]>
3     <6.58, [(0, 3, 3)]>   <1, [('lambda x: 1', [(0, 0, 3)])]>
4     <6.95, [(0, 3, 4)]>   <1, [('lambda x: 1', [(0, 0, 4)])]>
5     <8.14, [(0, 3, 5)]>   <1, [('lambda x: 1', [(0, 0, 5)])]>
6     <6.77, [(0, 3, 6)]>   <1, [('lambda x: 1', [(0, 0, 6)])]>
7     <5.76, [(0, 3, 7)]>   <1, [('lambda x: 1', [(0, 0, 7)])]>
8     <7.58, [(0, 3, 8)]>   <1, [('lambda x: 1', [(0, 0, 8)])]>
9     <8.74, [(0, 3, 9)]>   <1, [('lambda x: 1', [(0, 0, 9)])]>
10  <12.74, [(0, 3, 10)]>  <1, [('lambda x: 1', [(0, 0, 10)])]>
11   <7.71, [(0, 3, 11)]>  <1, [('lambda x: 1', [(0, 0, 11)])]>
12   <8.81, [(0, 3, 12)]>  <1, [('lambda x: 1', [(0, 0, 12)])]>
13   <8.77, [(0, 3, 13)]>  <1, [('lambda x: 1', [(0, 0, 13)])]>
14   <7.11, [(0, 3, 14)]>  <1, [('lambda x: 1', [(0, 0, 14)])]>
15   <8.84, [(0, 3, 15)]>  <1, [('lambda x: 1', [(0, 0, 15)])]>
16   <8.33, [(0, 3, 16)]>  <1, [('lambda x: 1', [(0, 0, 16)])]>
17   <9.26, [(0, 3, 17)]>  <1, [('lambda x: 1', [(0, 0, 17)])]>
18   <7.81, [(0, 3, 18)]>  <1, [('lambda x: 1', [(0, 0, 18)])]>
19   <8.47, [(0, 3, 19)]>  <1, [('lambda x: 1', [(0, 0, 19)])]>
20   <9.96, [(0, 3, 20)]>  <1, [('lambda x: 1', [(0, 0, 20)])]>
21    <8.1, [(0, 3, 21)]>  <1, [('lambda x: 1', [(0, 0, 21)])]>
22   <8.84, [(0, 3, 22)]>  <1, [('lambda x: 1', [(0, 0, 22)])]>
23   <7.04, [(0, 3, 23)]>  <1, [('lambda x: 1', [(0, 0, 23)])]>
24   <7.24, [(0, 3, 24)]>  <1, [('lambda x: 1', [(0, 0, 24)])]>
25   <6.13, [(0, 3, 25)]>  <1, [('lambda x: 1', [(0, 0, 25)])]>
26   <6.08, [(0, 3, 26)]>  <1, [('lambda x: 1', [(0, 0, 26)])]>
27   <5.25, [(0, 3, 27)]>  <1, [('lambda x: 1', [(0, 0, 27)])]>
28   <4.26, [(0, 3, 28)]>  <1, [('lambda x: 1', [(0, 0, 28)])]>
29    <3.1, [(0, 3, 29)]>  <1, [('lambda x: 1', [(0, 0, 29)])]>
30   <5.39, [(0, 3, 30)]>  <1, [('lambda x: 1', [(0, 0, 30)])]>
31   <12.5, [(0, 3, 31)]>  <1, [('lambda x: 1', [(0, 0, 31)])]>
32  <10.84, [(0, 3, 32)]>  <1, [('lambda x: 1', [(0, 0, 32)])]>
33   <9.13, [(0, 3, 33)]>  <1, [('lambda x: 1', [(0, 0, 33)])]>
34   <8.15, [(0, 3, 34)]>  <1, [('lambda x: 1', [(0, 0, 34)])]>
35   <5.56, [(0, 3, 35)]>  <1, [('lambda x: 1', [(0, 0, 35)])]>
36   <4.82, [(0, 3, 36)]>  <1, [('lambda x: 1', [(0, 0, 36)])]>
37   <7.26, [(0, 3, 37)]>  <1, [('lambda x: 1', [(0, 0, 37)])]>
38   <6.42, [(0, 3, 38)]>  <1, [('lambda x: 1', [(0, 0, 38)])]>
39   <7.91, [(0, 3, 39)]>  <1, [('lambda x: 1', [(0, 0, 39)])]>
40   <5.68, [(0, 3, 40)]>  <1, [('lambda x: 1', [(0, 0, 40)])]>
41   <4.74, [(0, 3, 41)]>  <1, [('lambda x: 1', [(0, 0, 41)])]>
42   <5.73, [(0, 3, 42)]>  <1, [('lambda x: 1', [(0, 0, 42)])]>
43   <6.89, [(0, 3, 43)]>  <1, [('lambda x: 1', [(0, 0, 43)])]>

                                                                                                                                                                                                                                                                                                                                                                                                                               COL_1
0                                                                                                                                                                                                                                                                                                                                                                                    <1, ('cumsum', [('lambda x: 1', [(0, 0, 0)])])>
1                                                                                                                                                                                                                                                                                                                                                      <2, ('cumsum', [('lambda x: 1', [(0, 0, 0)]), ('lambda x: 1', [(0, 0, 1)])])>
2                                                                                                                                                                                                                                                                                                                        <3, ('cumsum', [('lambda x: 1', [(0, 0, 0)]), ('lambda x: 1', [(0, 0, 1)]), ('lambda x: 1', [(0, 0, 2)])])>
3                                                                                                                                                                                                                                                                                                                                                                                    <1, ('cumsum', [('lambda x: 1', [(0, 0, 3)])])>
4                                                                                                                                                                                                                                                                                                                                                      <2, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)])])>
5                                                                                                                                                                                                                                                                                                                        <3, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)])])>
6                                                                                                                                                                                                                                                                                          <4, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)])])>
7                                                                                                                                                                                                                                                            <5, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)]), ('lambda x: 1', [(0, 0, 7)])])>
8                                                                                                                                                                                                                                                                                                                                                                                    <1, ('cumsum', [('lambda x: 1', [(0, 0, 8)])])>
9                                                                                                                                                                                                                                                                                                                                                      <2, ('cumsum', [('lambda x: 1', [(0, 0, 8)]), ('lambda x: 1', [(0, 0, 9)])])>
10                                                                                                                                                                                                                                                                                                                      <3, ('cumsum', [('lambda x: 1', [(0, 0, 8)]), ('lambda x: 1', [(0, 0, 9)]), ('lambda x: 1', [(0, 0, 10)])])>
11                                                                                                                                                                                                                            <6, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)]), ('lambda x: 1', [(0, 0, 7)]), ('lambda x: 1', [(0, 0, 11)])])>
12                                                                                                                                                                                                                                                                                                                                                                                  <1, ('cumsum', [('lambda x: 1', [(0, 0, 12)])])>
13                                                                                                                                                                                                                                                                                                                                                   <2, ('cumsum', [('lambda x: 1', [(0, 0, 12)]), ('lambda x: 1', [(0, 0, 13)])])>
14                                                                                                                                                                                                                                                                                                                    <3, ('cumsum', [('lambda x: 1', [(0, 0, 12)]), ('lambda x: 1', [(0, 0, 13)]), ('lambda x: 1', [(0, 0, 14)])])>
15                                                                                                                                                                                             <7, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)]), ('lambda x: 1', [(0, 0, 7)]), ('lambda x: 1', [(0, 0, 11)]), ('lambda x: 1', [(0, 0, 15)])])>
16                                                                                                                                                                                                                                                                                                                                                                                  <1, ('cumsum', [('lambda x: 1', [(0, 0, 16)])])>
17                                                                                                                                                                                                                                                                                                                                                   <2, ('cumsum', [('lambda x: 1', [(0, 0, 16)]), ('lambda x: 1', [(0, 0, 17)])])>
18                                                                                                                                                                                                                                                                                                                    <3, ('cumsum', [('lambda x: 1', [(0, 0, 16)]), ('lambda x: 1', [(0, 0, 17)]), ('lambda x: 1', [(0, 0, 18)])])>
19                                                                                                                                                              <8, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)]), ('lambda x: 1', [(0, 0, 7)]), ('lambda x: 1', [(0, 0, 11)]), ('lambda x: 1', [(0, 0, 15)]), ('lambda x: 1', [(0, 0, 19)])])>
20                                                                                                                                                                                                                                                                                                                                                                                  <1, ('cumsum', [('lambda x: 1', [(0, 0, 20)])])>
21                                                                                                                                                                                                                                                                                                                                                   <2, ('cumsum', [('lambda x: 1', [(0, 0, 20)]), ('lambda x: 1', [(0, 0, 21)])])>
22                                                                                                                                                                                                                                                                                                                    <3, ('cumsum', [('lambda x: 1', [(0, 0, 20)]), ('lambda x: 1', [(0, 0, 21)]), ('lambda x: 1', [(0, 0, 22)])])>
23                                                                                                                               <9, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)]), ('lambda x: 1', [(0, 0, 7)]), ('lambda x: 1', [(0, 0, 11)]), ('lambda x: 1', [(0, 0, 15)]), ('lambda x: 1', [(0, 0, 19)]), ('lambda x: 1', [(0, 0, 23)])])>
24                                                                                                                                                                                                                                                                                                                                                                                  <1, ('cumsum', [('lambda x: 1', [(0, 0, 24)])])>
25                                                                                                                                                                                                                                                                                                                                                   <2, ('cumsum', [('lambda x: 1', [(0, 0, 24)]), ('lambda x: 1', [(0, 0, 25)])])>
26                                                                                                                                                                                                                                                                                                                    <3, ('cumsum', [('lambda x: 1', [(0, 0, 24)]), ('lambda x: 1', [(0, 0, 25)]), ('lambda x: 1', [(0, 0, 26)])])>
27                                                                                               <10, ('cumsum', [('lambda x: 1', [(0, 0, 3)]), ('lambda x: 1', [(0, 0, 4)]), ('lambda x: 1', [(0, 0, 5)]), ('lambda x: 1', [(0, 0, 6)]), ('lambda x: 1', [(0, 0, 7)]), ('lambda x: 1', [(0, 0, 11)]), ('lambda x: 1', [(0, 0, 15)]), ('lambda x: 1', [(0, 0, 19)]), ('lambda x: 1', [(0, 0, 23)]), ('lambda x: 1', [(0, 0, 27)])])>
28                                                                                                                                                                                                                                                                                                                                                                                  <1, ('cumsum', [('lambda x: 1', [(0, 0, 28)])])>
29                                                                                                                                                                                                                                                                                                                                                   <2, ('cumsum', [('lambda x: 1', [(0, 0, 28)]), ('lambda x: 1', [(0, 0, 29)])])>
30                                                                                                                                                                                                                                                                                                                    <3, ('cumsum', [('lambda x: 1', [(0, 0, 28)]), ('lambda x: 1', [(0, 0, 29)]), ('lambda x: 1', [(0, 0, 30)])])>
31                                                                                                                                                                                                                                                                                                                                                                                  <1, ('cumsum', [('lambda x: 1', [(0, 0, 31)])])>

In [5]:
test_run("testbenches/020.json")

=====target annotated output=====
                       fac                 score  \
0    <trial1, [(0, 0, 0)]>   <1.04, [(0, 1, 0)]>
1    <trial1, [(0, 0, 1)]>    <1.5, [(0, 1, 1)]>
2    <trial1, [(0, 0, 2)]>   <2.18, [(0, 1, 2)]>
3    <trial1, [(0, 0, 3)]>   <1.01, [(0, 1, 3)]>
4    <trial1, [(0, 0, 4)]>   <1.84, [(0, 1, 4)]>
5    <trial1, [(0, 0, 5)]>   <1.35, [(0, 1, 5)]>
6    <trial1, [(0, 0, 6)]>   <0.91, [(0, 1, 6)]>
7    <trial1, [(0, 0, 7)]>   <1.69, [(0, 1, 7)]>
8    <trial1, [(0, 0, 8)]>   <3.09, [(0, 1, 8)]>
9    <trial1, [(0, 0, 9)]>   <3.25, [(0, 1, 9)]>
10  <trial2, [(0, 0, 10)]>  <1.71, [(0, 1, 10)]>
11  <trial2, [(0, 0, 11)]>  <2.61, [(0, 1, 11)]>
12  <trial2, [(0, 0, 12)]>  <4.32, [(0, 1, 12)]>
13  <trial2, [(0, 0, 13)]>  <2.85, [(0, 1, 13)]>
14  <trial2, [(0, 0, 14)]>  <3.22, [(0, 1, 14)]>
15  <trial2, [(0, 0, 15)]>  <4.44, [(0, 1, 15)]>
16  <trial2, [(0, 0, 16)]>  <2.14, [(0, 1, 16)]>
17  <trial2, [(0, 0, 17)]>  <2.55, [(0, 1, 17)]>
18  <trial2, [(0, 0, 18)]>  <1.21, [(0, 1, 18)]>
19  <trial2, [(0, 0, 19)]>  <2.64, [(0, 1, 19)]>

                                   COL_0  \
0    <1, [('lambda x: 1', [(0, 1, 0)])]>
1    <1, [('lambda x: 1', [(0, 1, 1)])]>
2    <1, [('lambda x: 1', [(0, 1, 2)])]>
3    <1, [('lambda x: 1', [(0, 1, 3)])]>
4    <1, [('lambda x: 1', [(0, 1, 4)])]>
5    <1, [('lambda x: 1', [(0, 1, 5)])]>
6    <1, [('lambda x: 1', [(0, 1, 6)])]>
7    <1, [('lambda x: 1', [(0, 1, 7)])]>
8    <1, [('lambda x: 1', [(0, 1, 8)])]>
9    <1, [('lambda x: 1', [(0, 1, 9)])]>
10  <1, [('lambda x: 1', [(0, 1, 10)])]>
11  <1, [('lambda x: 1', [(0, 1, 11)])]>
12  <1, [('lambda x: 1', [(0, 1, 12)])]>
13  <1, [('lambda x: 1', [(0, 1, 13)])]>
14  <1, [('lambda x: 1', [(0, 1, 14)])]>
15  <1, [('lambda x: 1', [(0, 1, 15)])]>
16  <1, [('lambda x: 1', [(0, 1, 16)])]>
17  <1, [('lambda x: 1', [(0, 1, 17)])]>
18  <1, [('lambda x: 1', [(0, 1, 18)])]>
19  <1, [('lambda x: 1', [(0, 1, 19)])]>

                                                                                                                                                                                                                                                                                                                                       COL_1
0                                                                                                                                                                                                                                                                                            <1, ('cumsum', [('lambda x: 1', [(0, 1, 0)])])>
1                                                                                                                                                                                                                                                              <2, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)])])>
2                                                                                                                                                                                                                                <3, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)])])>
3                                                                                                                                                                                                  <4, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)])])>
4                                                                                                                                                                    <5, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)]), ('lambda x: 1', [(0, 1, 4)])])>
5                                                                                                                                      <6, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)]), ('lambda x: 1', [(0, 1, 4)]), ('lambda x: 1', [(0, 1, 5)])])>
6                                                                                                        <7, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)]), ('lambda x: 1', [(0, 1, 4)]), ('lambda x: 1', [(0, 1, 5)]), ('lambda x: 1', [(0, 1, 6)])])>
7                                                                          <8, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)]), ('lambda x: 1', [(0, 1, 4)]), ('lambda x: 1', [(0, 1, 5)]), ('lambda x: 1', [(0, 1, 6)]), ('lambda x: 1', [(0, 1, 7)])])>
8                                            <9, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)]), ('lambda x: 1', [(0, 1, 4)]), ('lambda x: 1', [(0, 1, 5)]), ('lambda x: 1', [(0, 1, 6)]), ('lambda x: 1', [(0, 1, 7)]), ('lambda x: 1', [(0, 1, 8)])])>
9             <10, ('cumsum', [('lambda x: 1', [(0, 1, 0)]), ('lambda x: 1', [(0, 1, 1)]), ('lambda x: 1', [(0, 1, 2)]), ('lambda x: 1', [(0, 1, 3)]), ('lambda x: 1', [(0, 1, 4)]), ('lambda x: 1', [(0, 1, 5)]), ('lambda x: 1', [(0, 1, 6)]), ('lambda x: 1', [(0, 1, 7)]), ('lambda x: 1', [(0, 1, 8)]), ('lambda x: 1', [(0, 1, 9)])])>
10                                                                                                                                                                                                                                                                                          <1, ('cumsum', [('lambda x: 1', [(0, 1, 10)])])>
11                                                                                                                                                                                                                                                           <2, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)])])>
12                                                                                                                                                                                                                            <3, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)])])>
13                                                                                                                                                                                             <4, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)])])>
14                                                                                                                                                              <5, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)]), ('lambda x: 1', [(0, 1, 14)])])>
15                                                                                                                               <6, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)]), ('lambda x: 1', [(0, 1, 14)]), ('lambda x: 1', [(0, 1, 15)])])>
16                                                                                                <7, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)]), ('lambda x: 1', [(0, 1, 14)]), ('lambda x: 1', [(0, 1, 15)]), ('lambda x: 1', [(0, 1, 16)])])>
17                                                                 <8, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)]), ('lambda x: 1', [(0, 1, 14)]), ('lambda x: 1', [(0, 1, 15)]), ('lambda x: 1', [(0, 1, 16)]), ('lambda x: 1', [(0, 1, 17)])])>
18                                  <9, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)]), ('lambda x: 1', [(0, 1, 14)]), ('lambda x: 1', [(0, 1, 15)]), ('lambda x: 1', [(0, 1, 16)]), ('lambda x: 1', [(0, 1, 17)]), ('lambda x: 1', [(0, 1, 18)])])>
19  <10, ('cumsum', [('lambda x: 1', [(0, 1, 10)]), ('lambda x: 1', [(0, 1, 11)]), ('lambda x: 1', [(0, 1, 12)]), ('lambda x: 1', [(0, 1, 13)]), ('lambda x: 1', [(0, 1, 14)]), ('lambda x: 1', [(0, 1, 15)]), ('lambda x: 1', [(0, 1, 16)]), ('lambda x: 1', [(0, 1, 17)]), ('lambda x: 1', [(0, 1, 18)]), ('lambda x: 1', [(0, 1, 19)])])>
t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: 1, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
----
number of programs: 0
time cost: 0.04786801338195801

t0 <- table_ref(0)
run checker_function!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: 1, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, 0), (2, 0)]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (2, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, ?, ?); t2 <- group_sum(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x - y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x + y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x * y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x, y: x / y, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: x - (x * 0.1), ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- mutate_arithmetic(t0, lambda x: 1, ?); t2 <- group_sum(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(0, '?'), (1, '?'), (2, '?'), (0, '?'), (1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_sum(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_sum(t0, (0,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
=====Cell Check Result=====
checking cell at: (3, 0)
arguments: {(0, 1, 0)}
fail whenc check t: (0, 1, 0)possible locs: [(1, '?'), (2, '?')]
==========
cell trace check failed!
t0 <- table_ref(0); t1 <- group_mutate(t0, ?, ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, [], ?, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
t0 <- table_ref(0); t1 <- group_mutate(t0, (0,), mean, ?); t2 <- group_mutate(t1, ?, ?, ?)
cell trace check
computation check
computation check failed!
=====Computation Check Result=====
                       fac                   score                     COL_0  \
0    <trial1, [(0, 0, 0)]>   <1.0355, [(0, 1, 0)]>  <_?_, ('mean', ['_?_'])>
1    <trial1, [(0, 0, 1)]>   <1.4998, [(0, 1, 1)]>  <_?_, ('mean', ['_?_'])>
2    <trial1, [(0, 0, 2)]>   <2.1847, [(0, 1, 2)]>  <_?_, ('mean', ['_?_'])>
3    <trial1, [(0, 0, 3)]>    <1.014, [(0, 1, 3)]>  <_?_, ('mean', ['_?_'])>
4    <trial1, [(0, 0, 4)]>   <1.8388, [(0, 1, 4)]>  <_?_, ('mean', ['_?_'])>
5    <trial1, [(0, 0, 5)]>   <1.3549, [(0, 1, 5)]>  <_?_, ('mean', ['_?_'])>
6    <trial1, [(0, 0, 6)]>   <0.9128, [(0, 1, 6)]>  <_?_, ('mean', ['_?_'])>
7    <trial1, [(0, 0, 7)]>   <1.6856, [(0, 1, 7)]>  <_?_, ('mean', ['_?_'])>
8    <trial1, [(0, 0, 8)]>   <3.0877, [(0, 1, 8)]>  <_?_, ('mean', ['_?_'])>
9    <trial1, [(0, 0, 9)]>   <3.2488, [(0, 1, 9)]>  <_?_, ('mean', ['_?_'])>
10  <trial2, [(0, 0, 10)]>  <1.7138, [(0, 1, 10)]>  <_?_, ('mean', ['_?_'])>
11  <trial2, [(0, 0, 11)]>  <2.6099, [(0, 1, 11)]>  <_?_, ('mean', ['_?_'])>
12  <trial2, [(0, 0, 12)]>  <4.3185, [(0, 1, 12)]>  <_?_, ('mean', ['_?_'])>
13  <trial2, [(0, 0, 13)]>  <2.8532, [(0, 1, 13)]>  <_?_, ('mean', ['_?_'])>
14  <trial2, [(0, 0, 14)]>  <3.2195, [(0, 1, 14)]>  <_?_, ('mean', ['_?_'])>
15  <trial2, [(0, 0, 15)]>  <4.4374, [(0, 1, 15)]>  <_?_, ('mean', ['_?_'])>
16  <trial2, [(0, 0, 16)]>  <2.1362, [(0, 1, 16)]>  <_?_, ('mean', ['_?_'])>
17  <trial2, [(0, 0, 17)]>  <2.5519, [(0, 1, 17)]>  <_?_, ('mean', ['_?_'])>
18  <trial2, [(0, 0, 18)]>  <1.2056, [(0, 1, 18)]>  <_?_, ('mean', ['_?_'])>
19  <trial2, [(0, 0, 19)]>    <2.64, [(0, 1, 19)]>  <_?_, ('mean', ['_?_'])>

         COL_1
0   <_?_, _?_>
1   <_?_, _?_>
2   <_?_, _?_>
3   <_?_, _?_>
4   <_?_, _?_>
5   <_?_, _?_>
6   <_?_, _?_>
7   <_?_, _?_>
8   <_?_, _?_>
9   <_?_, _?_>
10  <_?_, _?_>
11  <_?_, _?_>
12  <_?_, _?_>
13  <_?_, _?_>
14  <_?_, _?_>
15  <_?_, _?_>
16  <_?_, _?_>
17  <_?_, _?_>
18  <_?_, _?_>
19  <_?_, _?_>